@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body,
html {
    height: 100%;
    width: 100%;
    min-width: 1000px;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
    background-color: #E6ECF0;
}

.profile-searchbutton {
    background-color: white;
    border: 1px solid #DFE2E4;
    color: #5F7189;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    float: right;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 3px;
}

.profile-searchbutton:hover {
    background-color: white;
    color: #4AB3F4;
    border-right: 2px solid #4AB3F4;
    border-left: 2px solid #4AB3F4;
    border-top: 2px solid #4AB3F4;
    border-bottom: 2px solid #4AB3F4;
}

.profile-search {
    width: 30%;
    display: inline-block;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
}

.profile-searchbar {
    height: 30px;
    background-color: #F5F8FA;
    color: #5F7189;
    font-size: 15px;
    border: 1px solid #DFE2E4;
    border-radius: 100px;
    width: 60%;
    padding: 10px;
    float: right;
    margin-top: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.profile-searchbar:focus {
    border: 2px solid #4AB3F4;
    background-color: white;
}

.profile-pages {
    width: 50%;
    height: inherit;
    margin-right: 10%;
    float: right;
    box-sizing: border-box;
}

.profile-nav {
    font-size: 15px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    min-width: 1000px;
    background: white;
    height: 45px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}

.profile-nav a {
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: #5F7189;
    margin: 2px 8px 10px 10px;
    position: relative;
    display: inline-block;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
}

.profile-nav a:hover {
    color: #4AB3F4;
    text-decoration: none;
}

.profile-section {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    overflow: hidden;
}

.profile-landing {
    background: #E9EBEE;
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.profile-contentTop {
    max-width: 100%;
    width: 100%;
    background-color: white;
    top: 0;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}

.profile-contentTopLinks {
    width: 100%;
    min-width: 1000px;
    margin: auto;
    height: 55px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}

.profile-contentTopCover {
    width: 100%;
    min-width: 1000px;
    height: 345px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-contentTopCover img {
    min-width: 100%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    max-width: 100%;
}

.profile-contentTopNav {
    width: 100%;
    min-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.profile-contentTopNav a {
    margin: 10px 10px 5px 10px;
    color: #5F7189;
    text-decoration: none;
    font-family: Poppins-Regular, sans-serif;
    font-weight: 900;
    font-size: 15px;
    display: inline-block;
    position: relative;
}

.profile-contentTopNav a:hover {
    text-decoration: none;
    color: #4AB3F4;
}

.editprofilebutton {
    background-color: white;
    border: 2px solid #5F7189;
    color: #5F7189;
    width: 12%;
    height: 35px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    padding: 5px;
}

.editprofilebutton:hover {
    background-color: white;
    color: #4AB3F4;
    border-right: 2px solid #4AB3F4;
    border-left: 2px solid #4AB3F4;
    border-top: 2px solid #4AB3F4;
    border-bottom: 2px solid #4AB3F4;
}

.profilepictureContainer {
    margin-top: 100px;
    width: 220px;
    height: 52%;
    border: 8px solid white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    float: center;
}

.profilepictureContainer img {
    min-width: 100%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    max-width: 100%;
    height: 100%;
    width: 120%;
}

.profile-contentCenter {
    border-bottom: 1px solid #E9EBEE;
    width: 100%;
    clear: both;
    margin: auto;
    margin-bottom: 10px;
    font-family: Poppins-Regular, sans-serif;
    background-color: white;
    z-index: 105;
}

.profile-contentCenter:hover {
    background-color: #F5F8FA;
}

.profilePostTitle {
    text-decoration: none;
    color: #5F7189;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    float: left;
    text-align: left;
    margin: 0 0 0 2.5%;
    margin-bottom: 10px;
    clear: both;
}

.profileCenterDiv {
    float: left;
    height: 100%;
    width: 50%;
    margin: 10px auto;
    margin-right: 10px;
}

.profile-fullpage {
    overflow-y: scroll;
    overflow: auto;
    width: 100%;
    min-width: 1000px;
}

.profile-contentRight {
    float: left;
    width: 20%;
    height: 40%;
    margin-left: 1px;
    margin-top: 7px;
    background-color: white;
}

.CenterLeftRightCont {
    width: 100%;
    min-width: 1000px;
    text-align: center;
    height: 100%;
    margin-top: 10px;
    position: absolute;
    overflow: scroll;
}

.profile-contentLeft {
    float: left;
    height: 100%;
    width: 20%;
    padding: 0;
    margin-left: 5%;
    margin-right: 10px;
}

.profilePostButton {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 13px;
}

.profilePostButton a {
    width: 18%;
    height: 100%;
    color: #5F7189;
    font-size: 15px;
}

.profilePostButton a:hover {
    color: #4AB3F4;
    text-decoration: none;
}

.profilePostFollowButton:focus {
    text-decoration: none;
}

.profilePostFollowButton:hover {
    border-color: #4AB3F4;
}

.profilePostFollowButton {
    border: 1px solid #5F7189;
    border-radius: 30px;
    padding: 3px 10px 3px 10px;
}

.profilePostAnswer {
    margin: 0 0 0 2.5%;
    width: 95%;
    text-align: left;
    border-top: 1px solid #E9EBEE;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    word-wrap: break-word;
}

.profilePostAnswerFollowedQuestions {
    margin: 0 0 0 2.5%;
    width: 95%;
    text-align: left;
    border-top: 1px solid #E9EBEE;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    word-wrap: break-word;
}

.profilePostPicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 7px;
    float: left;
    display: block;
}

.profilePostPictureFollowedQuestions {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    display: block;
}

.profilePostEmail {
    width: 60%;
    font-size: 10px;
    display: block;
}

.profilePostUsername {
    display: block;
    width: 100%;
    margin-top: 0px;
    font-size: 15px;
    margin-left: 0;
}

.profileNameEmail {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    text-align: left;
}

.profileNameEmailFollowedQuestions {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    text-align: left;
}

.FollowersContainer {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    background-color: #E6ECF0;
}

.FollowingContainer {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    background-color: #E6ECF0;
}

.FollowedQuestionsContainer {
    width: 100%;
    height: inherit;
    background-color: white;
}

.AnsweredQuestionsContainer {
    width: 100%;
    background-color: white;
}

.profile-questionAnswer {
    width: 100%;
    text-align: left;
    margin: 0 0 0 2.5%;
    width: 95%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 15px;
}

.our-team {
    padding-top: 20px;
    background: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 250px;
    margin-right: 2%;
}

.our-team .FollowersPic {
    display: inline-block;
    width: 130px;
    height: 123px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.our-team .FollowersPic::before {
    content: "";
    width: 100%;
    background: #4AB3F4;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .FollowersPic::before {
    height: 100%;
    display: block;
}

.our-team .FollowersPic::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4AB3F4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .FollowersPic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .FollowersPic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .team-content {
    display: block;
}

.our-team .FollowersTitle {
    font-size: 100%;
    font-weight: 700;
    width: 100%;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.our-team .FollowersPost {
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    color: #4e5052;
    margin-bottom: 10px;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #4AB3F4;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 17px;
    transition: all 0.5s ease 0s;
}

.our-team .social li a:hover {
    color: #4AB3F4;
    background: #f7f5ec;
    text-decoration: none;
}

.Profile-hider {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200%;
    height: 200%;
    margin-top: -800px;
    /*set to a negative number 1/2 of your height*/
    margin-left: -500px;
    /*set to a negative number 1/2 of your width*/
    /*
        z- index must be lower than pop up box
       */
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-popup_box1 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 45%;
    margin-top: -15.5%;
    /*set to a negative number 1/2 of your height*/
    margin-left: -25%;
    /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: white;
    z-index: 100;
    border-radius: 30px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

button .msg-follow,
button .msg-following,
button .msg-unfollow {
    display: none;
}

button .msg-follow {
    display: inline;
}

button.following .msg-follow {
    display: none;
}

button.following .msg-following {
    display: inline;
}

button.following:not(.wait):hover .msg-following {
    display: none;
}

button.following:not(.wait):hover .msg-unfollow {
    display: inline;
}

.social .follow {
    color: white;
    font-size: 150%;
    font-family: Poppins-Regular, sans-serif;
    border: 2px solid white;
    margin: 3px;
    padding: 5px;
    border-radius: 30px;
}

.social .follow:hover {
    background-color: white;
    border-color: #4AB3F4;
    color: #4AB3F4;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100%;
    display: none;
}

.modal_close {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
}

.close {
    cursor: pointer;
}

.modal_main {
    width: 50%;
    height: 50%;
    background: #fff;
    z-index: 4;
    position: fixed;
    top: 16%;
    border-radius: 4px;
    left: 24%;
    display: none;
    padding: 15px;
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .0s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: fadeInRight;
    box-sizing: border-box;
    clear: both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

.kv-avatar .krajee-default.file-preview-frame,
.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar {
    display: inline-block;
}

.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}

.text-right1 {
    width: 50%;
    margin-bottom: 2%;
    position: relative;
}

.form {
    height: 100%;
    text-align: center;
}

.submitEditbutton {
    background-color: white;
    border: 2px solid #5F7189;
    color: #5F7189;
    width: 13%;
    height: 35px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    padding: 5px;
    bottom: 15px;
    position: absolute;
    display: inline-block;
}

.submitEditbutton:hover {
    background-color: white;
    color: #4AB3F4;
    border-right: 2px solid #4AB3F4;
    border-left: 2px solid #4AB3F4;
    border-top: 2px solid #4AB3F4;
    border-bottom: 2px solid #4AB3F4;
}

.profile-linksInterest {
    margin-top: 8px;
    background-color: white;
    width: 100%;
    text-align: left;
    padding: 10px;
}

.profile-linksInterest a {
    border: 1px solid #E9EBEE;
    padding: 5px;
    color: #5F7189;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
    display: inline-block;
}

.profile-linksInterest a:hover {
    text-decoration: none;
    color: #4AB3F4;
    border: 1px solid #4AB3F4;
    margin-right: 5px;
}

.profile-bioInfo {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}