* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: Poppins-Regular, sans-serif;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('fonts/poppins/Poppins-Regular.ttf');
}

.logo {
    margin-left: 6%;
    width: 100px;
}

.landing {
    background: linear-gradient(rgba(57, 96, 196, .8), rgba(93, 236, 252, .7)), url(../image/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
}

.features {
    background: linear-gradient(rgba(57, 96, 196, 1.5), rgba(93, 236, 252, .8)), url(../image/categories.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    position: relative;
}

.groups {
    background-image: url(../image/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    position: relative;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    opacity: 1.5;
}

a {
    font-size: 20px;
}

.btnOne {
    border: white 2px solid;
    border-radius: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    font-weight: 1200;
    text-align: center;
    display: inline;
}

.userinterests {
    border: 2px solid white;
    font-family: Poppins-Regular;
    color: white;
    padding: 4px;
    border-radius: 100px;
    width: 20%;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 20px;
}

.date {
    color: white;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 5%;
    text-align: center;
}

.time {
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}

.googlepic {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    display: inline-block;
}

.btnTwo {
    background-color: #000000;
    opacity: 0.7;
    display: block;
    border-radius: 100px;
    padding: 0.5em 1.75em;
    width: 160px;
    margin-top: 100px;
    float: left;
    text-align: center;
    margin-right: 30px;
    height: 25px;
    font-size: 20px;
    font-weight: 1000;
}

.btnOne:hover {
    background-color: white;
    color: rgb(31, 183, 249);
}

.btnTwo:hover {
    background-color: rgba(41, 183, 249, 1);
}

.btnLogin:hover {
    background-color: white;
}

.btnTwocont {
    text-align: center;
}

.nav {
    padding-top: 3em;
}

.pages {
    float: right;
    text-align: right;
    margin-top: 30px;
}

.pages a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    vertical-align: middle;
}

.logo {
    widows: 160px;
    vertical-align: middle;
}

.landingWrapper {
    width: 88%;
    margin: auto;
}

.landingContent {
    width: 88%;
    margin: 150px auto 0 auto;
    display: flex;
}

.contentLeft {
    flex: 0 0 55%;
}

.contentRight {
    flex: 0 0 4 5%;
}

.iphoneHand {
    width: 620px;
    margin-top: -75px;
}

.contentLeft h1,
.contentLeft p,
.contentLeft a {
    color: white;
    text-decoration: none;
}

.selected {
    border: 1px solid white;
    font-family: Poppins-Regular;
    color: white;
    margin: 5px;
    padding: 4px;
    border-radius: 100px;
}

.categorybuttons {
    border: 1px solid white;
    font-family: Poppins-Regular;
    color: white;
    margin: 5px;
    padding: 4px;
    border-radius: 100px;
}

