@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
    background-color: #E6ECF0;
}

.profile-searchbutton {
    background-color: white;
    border: 1px solid #DFE2E4;
    color: #5F7189;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    float: right;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 3px;
}

.profile-searchbutton:hover {
    background-color: white;
    color: #4AB3F4;
    border-right: 2px solid #4AB3F4;
    border-left: 2px solid #4AB3F4;
    border-top: 2px solid #4AB3F4;
    border-bottom: 2px solid #4AB3F4;
}

.profile-search {
    width: 30%;
    display: inline-block;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
}

.profile-searchbar {
    height: 30px;
    background-color: #F5F8FA;
    color: #5F7189;
    font-size: 15px;
    border: 1px solid #DFE2E4;
    border-radius: 100px;
    width: 60%;
    padding: 10px;
    float: right;
    margin-top: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.profile-searchbar:focus {
    border: 2px solid #4AB3F4;
    background-color: white;
}

.profile-pages {
    width: 50%;
    height: inherit;
    margin-right: 10%;
    float: right;
    box-sizing: border-box;
}

.profile-nav {
    font-size: 15px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 1700px;
    min-width: 1000px;
  
    background: white;
    height: 45px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}

.profile-nav a {
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: #5F7189;
    margin: 2px 8px 10px 10px;
    position: relative;
    display: inline-block;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
}

.profile-nav a:hover {
    color: #4AB3F4;
    text-decoration: none;
}

.profile-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile-landing {
    background: #E9EBEE;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    min-height: 600px;
    display: block;
    margin: 0 auto;
}

.profile-contentTop {
    max-width: 100%;
    width: 100%;
    background-color: white;
    top: 0;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}

.profile-contentTopLinks {
    width: 1700px;
    min-width: 1000px;
   
    margin: auto;
    height: 55px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}

.profile-contentTopCover {
    width: 1700px;
    min-width: 1000px;

    height: 345px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-contentTopCover img {
    min-width: 100%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    max-width: 100%;
}

.profile-contentTopNav {
    width: 1700px;
    min-width: 1000px;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.profile-contentTopNav a {
    margin: 10px 10px 5px 10px;
    color: #5F7189;
    text-decoration: none;
    font-family: Poppins-Regular, sans-serif;
    font-weight: 900;
    font-size: 15px;
    display: inline-block;
    position: relative;
}

.profile-contentTopNav a:hover {
    text-decoration: none;
    color: #4AB3F4;
}

.editprofilebutton {
    background-color: white;
    border: 2px solid #5F7189;
    color: #5F7189;
    width: 12%;
    height: 35px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    padding: 5px;
}

.editprofilebutton:hover {
    background-color: white;
    color: #4AB3F4;
    border-right: 2px solid #4AB3F4;
    border-left: 2px solid #4AB3F4;
    border-top: 2px solid #4AB3F4;
    border-bottom: 2px solid #4AB3F4;
}

.profilepictureContainer {
    margin-top: 100px;
    width: 220px;
    height: 52%;
    border: 8px solid white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    float: center;
}

.profilepictureContainer img {
    min-width: 100%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    max-width: 100%;
    height: 100%;
    width: 120%;
}

.profile-contentCenter {
    border-bottom: 1px solid #E9EBEE;
    width: 100%;
    height: 25%;
    margin: auto;
    font-family: Poppins-Regular, sans-serif;
    background-color: white;
    box-sizing: border-box;
}

.profile-contentCenter:hover {
    background-color: #F5F8FA;
}

.profilePostTitle {
    text-decoration: none;
    color: #5F7189;
    padding: 10px;
    margin: auto;
    padding: 0px;
    width: 100%;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-left: 105px;
    margin-top: 0;
    margin-bottom: 10px;
    clear: both;
}

.profileCenterDiv {
    overflow: auto;
    float: left;
    height: 100%;
    width: 700px;
    margin: 10px auto;
    margin-right: 10px;
}

.profile-fUllpage {
    overflow: scroll;
}

.profile-contentRight {
    float: left;
    width: 300px;
    height: 40%;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

.CenterLeftRightCont {
    width: 1700px;
    min-width: 1000px;

    text-align: center;
    height: 100%;
}

.profile-contentLeft {
    float: left;
    width: 300px;
    height: 40%;
    margin: auto;
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 10px;
    background-color: white;
}

.profilePostButton {
    bottom: 0;
    box-sizing: border-box;
}

.profilePostButton a {
    margin: 12px 45px 0 45px;
    color: #5F7189;
    font-size: 15px;
}

.profilePostButton a:hover {
    color: #4AB3F4;
    text-decoration: none;
}

.profilePostAnswer {
    margin: 0 0 0 5%;
    width: 90%;
    text-align: left;
    border-top: 1px solid #E9EBEE;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    float: center;
    word-wrap: break-word;
}

.profilePostPicture {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    display: block;
}

.profilePostEmail {
    float: left;
    width: 60%;
    margin-left: 15px;
    font-size: 10px;
    display: block;
}

.profilePostUsername {
    display: block;
    width: 60%;
    margin-top: 0px;
    font-size: 15px;
    margin-left: 0;
}

.profileNameEmail {
    text-align: center;
    width: 60%;
    padding-top: 10px;
}