* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Poppins-Regular, sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 800px;
    min-height: 100%;
    background-color:rgb(181, 177, 175);
    font-family: Poppins-Regular, sans-serif;
}

html {
    font-family: Poppins-Regular, sans-serif;
}

ul {
    list-style-type: none;
  }

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

.fullpage {
    overflow-y: scroll;
}

.titlearea {
    margin-left: 4%;
    padding: 15px;
    width: 93%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 5px;
    color: black;
    display: block;
    border: 1px solid #707070;
    border-radius: 20px;
    background-color: white;
}

.titlearea:focus {
    border-color: #AA3939;
}

.categorycontainer {
    position: relative;
    cursor: pointer;
    margin-top: 0;
    float: right;
    margin-bottom: 10px;
    border: 1px solid #D1D1D1;
    font-family: Poppins-Regular;
    color: #707070;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 100px;
}

.tagsarea {
    margin-left: 4%;
    padding: 15px;
    width: 86%;
    height: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    border: 1px solid #D1D1D1;
    display: block;
    border-radius: 20px;
}

#tagsID+.tag-editor {
    background: #fafafa;
    font-size: 12px;
}

#tagsID+.tag-editor .tag-editor-tag {
    color: #fff;
    background: #555;
    border-radius: 2px;
}

#tagsID+.tag-editor .tag-editor-spacer {
    width: 7px;
}

#tagsID+.tag-editor .tag-editor-delete {
    display: none;
}

.title {
    display: block;
}

.blur {
    -moz-filter: blur(3px);
}

.landing {
    background: #E9EBEE;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    min-height: 1000px;
    flex-direction: row;
    border: 1px black solid;
    margin: 0;
}

.searchbutton {
    background-color: white;
    margin-top: 5px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    color: white;
    border: 2px solid #66757F;
}

.searchbutton:hover {
    background-color: #4AB3F4;
    color: white;
    border: 2px solid #66757F;
}

.pages {
    float: right;
    margin-right: 18%;
    margin-top: .6%;
    font-family: Poppins-Regular;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background:linear-gradient(to right,#90001f,rgb(118, 2, 28));
    height: 6%;
    box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.8);
}

.newsfeed-nav {
    font-size: 15px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    width: 100%;
    min-width: 1000px;
    background:linear-gradient(to right,#90001f,rgb(118, 2, 28));
    height: 45px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}

.duplicatebutton {
    margin-left: 40%;
}

.newsfeed-pages {
    width: 60%;
    height: inherit;
    margin-right: 10%;
    float: right;
    box-sizing: border-box;
}

.newsfeed-nav a {
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color:white;
    margin: 2px 8px 10px 10px;
    position: relative;
    display: inline-block;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
}

.newsfeed-nav a:hover {
    color: white;
    background-color: #555;
    opacity: 0.8;
    text-decoration: none;
}

.newsfeed-searchbutton {
    background-color: rgb(83, 3, 20);
    border: 2px solid white;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    float: right;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 3px;
}

.newsfeed-searchbutton:hover {
    background-color: white;
    color: rgb(83, 3, 20);
    border-right: 2px solid rgb(83, 3, 20);
    border-left: 2px solid rgb(83, 3, 20);
    border-top: 2px solid rgb(83, 3, 20);
    border-bottom: 2px solid rgb(83, 3, 20);
}

.newsfeed-search {
    width: 30%;
    display: inline-block;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
}

.newsfeed-searchbar {
    height: 30px;
    background-color: rgb(83, 3, 20);
    color: black;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 100px;
    width: 60%;
    padding: 10px;
    float: right;
    margin-top: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.newsfeed-searchbar:focus {
    border: 2px solid rgb(83, 3, 20);
    background-color: white;
}

.section {
    width: 100%;
    height: 100%;
}

.contentLeft {

    width: 20%;
    min-width: 22%;
    float: left;
    margin-top: 53px;
    margin-left: 6.5%;
    display: inline-block;
    margin-right: 0;
    padding: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.profilepicture {
    top: 0;
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.profilepicture img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.backgroundpic {
    width: 100%;
    height: 100px;
}

.picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: yellow;
    transition: border 0.5s ease;
    float: left;
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
    padding: 0;
}

.picture:hover {
    border: 3px solid white;
}

.picture1 {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: red;
    transition: border 0.5s ease;
    position: relative;
    margin-left: 4px;
    padding: 0;
    display: inline-block;
}

.picture1:hover {
    border: 3px solid white;
}

.picture2 {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: inline-block;
    float: left;
    margin-left: 4px;
}
.picture3 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profileimage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.followunfollowCont {
    height: 20%;
    width: 100%;
    text-align: center;
}

.emailinfo {
    float: right;
    width: 70%;
    height: 60px;
    padding-right: 2px;
    white-space: -moz-pre-wrap;
    display: block;
    color: white;
    /* Firefox */
}

.newsfeed-followbutton {
    color: white;
    width: 50%;
    display: inline-block;
    float: left;
    margin-top: 8%;
    text-decoration: none;
    
}
.newsfeed-followbutton a {
    text-decoration: none;
}
.newsfeed-followingbutton {
    margin-top: 8%;
    width: 50%;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.newsfeed-followingbutton a{
    text-decoration: none;
    color:white;
}
.namecont {
    width: 80%;
    word-wrap: break-word;
    margin-left: 7px;
    color: white;
}

.namecont h3 {
    font-size: 17px;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.namecont a {
    text-decoration: none;
}

.namecont a:hover {
    text-decoration: underline;
}

.emailcont {
    width: 100%;
    word-wrap: break-word;
    margin-left: 13px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.emailcont h6 {
    font-size: 13px;
    color: #657786;
}

.followingcont {
    float: right;
    width: 50%;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

.followingcont a {
    text-decoration: none;
    color: #657786;
}

.followingcont a:hover {
    text-decoration: underline;
}

.followingcont h3 {
    margin-left: 10%;
}

.followerscont {
    float: left;
    width: 50%;
    height: 20px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
}

.followerscont h3 {
    margin-left: 30%;
}

.followerscont a {
    text-decoration: none;
    color: #657786;
}

.followerscont a:hover {
    text-decoration: underline;
}

.links {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    width: 100%;
    height: 30%;
    background-color: white;
    transition: box-shadow 0.3s ease;
    font-family: Poppins-Regular, sans-serif;
}

.links:hover {
    box-shadow: 0 4px 5px -3px rgba(0, 0, 0, .7);
}

.whotofollowcont {
    padding: 4px;
    width: 100%;
    background: linear-gradient(to right, #D46A6A, #801515);
    font-family: Poppins-Regular, sans-serif;
    text-align: center;
    clear: both;
    transition: box-shadow 0.3s ease;
}

.whotofollowcont:hover {
    box-shadow: 0 4px 5px -3px rgba(0, 0, 0, .7);
}

.whotofollowcont h4 {
    text-align: center;
    color: #555;
}

.whotoFollow {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #D1D1D1;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    color: #555;
    text-align: center;
    transition: background-color 0.5s linear;
}

.whotoFollowName a {
    color: #555;
    font-weight: 1000px;
    text-decoration: none;
}

.whotoFollow:hover {
    background-color: rgb(221, 109, 109, 0.9);
    color: white;
}

.whotoFollow1 {
    width: 100%;
    height: 27%;
    border-bottom: 1px solid #D1D1D1;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    color: #555;
}

.whotoFollow1:hover {
    background-color: rgb(221, 109, 109, 0.1);
    color: white;
}

.whotofollowButton {
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 35px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    float: right;
    margin-right: 6px;
}

.whotofollowButton:hover {
    background-color: white;
    color: #801515;
    border: 1px solid #801515;
    text-decoration: none;
}

.whotofollowButton1 {
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 35px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
}

.whotofollowButton1:hover {
    background-color: white;
    color: #801515;
    border: 1px solid #801515;
    text-decoration: none;
}

.whotoFollowName {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    font-size: 80%;
    overflow: hidden;
    text-align: left;
}

.whotoFollowName1 {
    margin-top: 15px;
    display: inline-block;
    width: 40%;
    font-size: 80%;
    margin-left: 10px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    text-align: left;
}

.whotoFollowName1 a {
    color: #555;
    font-weight: 1000px;
}

#tagsID+.tag-editor {
    border-radius: 100px;
    background-color: white;
}

.followerscount {
    margin-left: 22%;
    height: 20px;
    display: inline-block;
    width: 50%;
}

.followerscount a {
    color: #1DBBFB;
}

.followingcount {
    margin-top: 0;
    bottom: 0;
    display: inline-block;
    height: 20px;
    width: 50%;
    margin-right: 29%;
}

.followingcount a {
    color: #1DBBFB;
}

#post {
    position: absolute;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 10000;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.links0 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    width: 98%;
    height: 40%;
    background-color: white;
    box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.8);
}

.Newsfeed-whotofollow {
    border: 1px solid black;
    height: 20%;
}

.contentCenter {
    width: 45%;
    margin-right: -4px;
    margin-top: 37px;
    overflow: hidden;
    float: left;
    display: inline-block;
    padding: 10px;
    bottom: 10px;
}

.Askbutton {
    color: white;
    margin: 7px 0 5px 5px;
    text-decoration: none;
    outline: none;
}

.askquestion {
    border: 3px solid #801515;
    margin: 5px;
    padding: 0 0 5px 0;
    width: 98%;
    background-color: white;
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 10001;
    border-radius: 15px;
}

.submitbutton1 {
    padding-top: 5px;
    text-align: center;
    top: 0;
    right: 0;
    float: right;
    border: 1px solid #DDDFE2;
    color: white;
    background-color: #4267B2;
    width: 80px;
    height: 30px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.8);
}

.submitbutton2 {
    padding-top: 5px;
    text-align: center;
    top: 0;
    right: 0;
    float: right;
    border: 1px solid #DDDFE2;
    color: white;
    background-color: #1CB4F1;
    width: 80px;
    height: 30px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.8);
}

.submitbutton3 {
    margin: auto;
    padding-top: 5px;
    text-align: center;
    border: 1px solid #DDDFE2;
    color: white;
    background-color: rgb(169, 58, 58, 0.9);
    width: 80%;
    height: 30px;
    border-radius: 10px;
}

.submitbutton3:hover {
    border: 1px solid rgb(169, 58, 58);
    background-color: white;
    color: rgb(169, 58, 58);
    ;
}

.askbuttons {
    padding: 0 0 3px 0;
    border: 1px solid #DDDFE2;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(to right, #D46A6A, #801515);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.askbuttons h5 {
    color: white;
}

.Askbutton {
    color: #66757F;
}

.questiontextarea {
    height: 300px;
    transition: all 0.5s ease;
}
.showallButton{
    position: relative;
    float: right;

    font-size: 80%;
    border: 1px solid #5F7189;
    border-radius: 30px;
    padding: 5px;
    font-family: Poppins-Regular, sans-serif;
    text-decoration: none;
}

.newdiv {
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 98%;
    background-color: white;
    box-shadow: 0 1px 3px -3px rgba(0, 0, 0, 0.8);
    color: #66757F;
    border: 2px solid #801515;
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
    border-radius: 5px;
    word-wrap: break-word;
}

.titlepost {
    font-size: 13px;
    padding: 5px;
    width: 100%;
    margin-top: 0px;
    text-align: left;
}

.titlepost i {
    font-size: 15px;
}

.titlepostTitle {
    height: 50%;
    font-size: 15px;
    font-weight: 600;
    text-overflow: ellipsis;
    padding-left: 10%;
}

.titlepostname {
    margin-top: 0;
    display: inline-block;
}

.titlepostpicture {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    padding-bottom: 10%;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: inline-block;
    float: left;
    margin-right: 2%;
    transition: border 0.3s ease;
}

.titlepostpicture img {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.titlepost:hover {
    width: 100%;
    color: #801515;
}

.commenttextarea {
    background-color: white;
    border: 1px solid #E1E2E3;
    width: 80%;
    height: 10%;
    border-radius: 100px;
    font-size: 13px;
    padding: 7px;
    box-sizing: border-box;
  
    color: black;
    margin-left: 15%;
    float: left;
}


.commenttextarea:focus {
    border: 1px solid #801515;
    box-sizing: border-box;
}

.newpostinput {
    padding: 5px;
}

.descriptionpost:hover {
    color: #801515;
    width: 100%;

}

.categorypost:hover {
    width: 100%;
    color: #801515;
}

.linediv {
    height: 0;
    width: 95%;
    margin-left: 2%;
    margin-right: 4%;
    border: 0.03125em solid #E1E2E3;
}

.divider {
    height: 0;
    width: 100%;
    border: 1px solid #E1E2E3;
}

.newpostbuttons {
    margin-top: 5px;
    height: 30px;
    text-align: left;
    padding-left: 4%;
}

.descriptionpost {
    background-color: white;
    font-size: 13px;
    padding: 5px;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 10px;
    text-align: left;
}

.tagspost {
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    font-weight: 600;
    border-bottom: 1px solid #D1D1D1;
    text-align: left;
}

.tagspost:hover {
    font-size: 15px;
    width: 100%;
    color: #801515;
}

.categorypost {
    padding-left: 10px;
    padding-right: 5px;
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-align: left;

}

.answerbutton {
    width: 25%;
    color: #616774;
    font-size: 13px;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.answerbutton:hover {
    border-radius: 5px;
    background: linear-gradient(to right, #D46A6A, #801515);
    height: 100%;
    font-size: 13px;
    padding-top: 0;
    color: white;
    border: 1px solid #801515;
    text-decoration: none;
    outline: none;
}

.votebutton {
    width: 12%;
    color: #616774;
    margin-left: 0;
    font-size: 13px;
    height: 100%;
    font-weight: 600;
}

.votebutton:hover {
    border-radius: 5px;
    background: linear-gradient(to right, #D46A6A, #801515);
    height: 100%;
    font-size: 13px;
    padding-top: 0;
    color: white;
    border: 1px solid #801515;
}

.followbutton {
    width: 25%;
    color: #616774;
    font-size: 13px;
    height: 100%;
    display: inline-block;
}

.followbutton:hover {
    border-radius: 5px;
    background: linear-gradient(to right, #D46A6A, #801515);
    height: 100%;
    font-size: 13px;
    padding-top: 0;
    color: white;
    border: 1px solid #801515;
}

.commentbutton {
    width: 25%;
    color: #616774;
    font-size: 13px;
    height: 100%;
}

.commentbutton:hover {
    border-radius: 5px;
    background: linear-gradient(to right, #D46A6A, #801515);
    height: 100%;
    font-size: 13px;
    padding-top: 0;
    color: white;
    border: 1px solid #801515;
}

.answerdiv {
    border-top: 1px solid #D1D1D1;
    position: relative;
}

.submitanswerbutton:hover {
    background-color: white;
    color: white;
    border: 0 solid #000;
    background-color: #801515;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    bottom: 3px;
    right: 13px;
    padding: 8px;
    outline: none;
}

.submitanswerbutton {
    position: relative;
    bottom: 3px;
    right: 13px;
    background-color: white;
    border-width: 2px;
    border-color: white;
    color: #66757F;
    outline: none;
    border-left: 1px solid #801515;
    border-right: 1px solid #801515;
    border-top: 1px solid #801515;
    border-bottom: 1px solid #801515;
    border-radius: 100px;
    font-size: 15px;
    padding: 8px;
}

.answertextarea {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #E1E2E3;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    resize: none;
    overflow-y: auto;
}

.answertextarea::placeholder {
    color: #ACADAD;
    opacity: 1;
}

.commenttextarea::placeholder {
    color: #ACADAD;
    opacity: 1;
}

.answertextarea:focus {
    height: 100px;
    border-bottom: 1px solid #801515;
    border-top: 1px solid #801515;
}

.newdiv p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
    font-size: 12px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.titlebar {
    position: absolute;
    top: 0;
    padding: 9px;
    width: 90%;
    margin-top: 0px;
    height: 20px;
    color: black;
    border: 1px solid #D1D1D1;
    display: block;
    border-radius: 20px;
    text-align: center;
}

.categorybar {
    border: 1px solid #D1D1D1;
}

.tagsbar {
    border: 1px solid #D1D1D1;
}

.notificationContainer {
    width: 30%;
    background-color: white;
    height: 40%;
    display: hidden;
    padding: 10px;
    display: none;
    margin-left: 50%;
}

.contentRight {
    width: 21%;
    min-width: 18%;
    float: left;
    margin-top: 48px;
    margin-left: 2px;
    display: inline-block;
    padding: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.links2 {
    background: linear-gradient(to right, #D46A6A, #801515);
    margin-right: 7px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 4px;
    width: 100%;
    height: 60%;
    float: left;
    font-family: Poppins-Regular, sans-serif;
    transition: box-shadow 0.3s ease;
}

.links2:hover {
    box-shadow: 0 4px 5px -3px rgba(0, 0, 0, .7);
}

.voteScore {
    margin-top: 30px;
    width: 100%;
    display: block;
    text-align: center;
    color: #616774;
}

.links2 h3 {
    text-align: Left;
    color: rgb(105, 101, 101);
}

.links2titlebar {
    padding: 0 0 3px 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    background-color: #5686E8;
}

.links3titlebar {
    padding: 0 0 3px 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    background-color: #5686E8;
}

.links3 {
     background: linear-gradient(to right, #D46A6A, #801515);
    padding: 4px;
    width: 100%;
    float: left;
    background-color: white;
    transition: box-shadow 0.3s ease;
}

.links3:hover {
    box-shadow: 0 4px 5px -3px rgba(0, 0, 0, .7);
}

.links3Linkstitle {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    color: rgb(105, 101, 101);
}

.links3Linkstitle:hover {
    color: #5686E8;
}

.nav input {
    margin-left: 15%;
    margin-top: 3px;
    border-radius: 100px;
    padding: 8px;
    padding-left: 15px;
    width: 25%;
    height: 30px;
    color: #66757F;
    border: 2px solid rgb(131, 145, 155);
    background-color: white;
}

.nav input:focus {
    border: 3px solid #4AB3F4;
}

.landingWrapper {
    margin-top: 55px;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    opacity: 1.5;
}

.nav a {
    font-size: 15px;
    text-decoration: none;
    color: #66757F;
    margin: 0 0 10px 10px;
    position: relative;
}


/* Popup container */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 20%;
    margin-top: 0;
    margin-left: 4%;
    border: 1px solid #D1D1D1;
    font-family: Poppins-Regular;
    color: black;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100px;
}

.categorybutton {
    color: #777777;
    outline: none;
}


/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    bottom: 125%;
    overflow-y: scroll;
}


/* Popup arrow */

.popup .popuptext::after {
    width: 100%;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    width: 100%;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pupwrapper {
    width: 90%;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .5);
    /* Black w/ opacity */
    text-align: center;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 10px -4px rgba(208, 208, 208, 1);
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    float: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #4267B2;
    text-decoration: none;
    cursor: pointer;
}

.categorypopups {
    border: 1px solid #D0D0D0;
    border-radius: 100px;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    color: #657786;
}

.categorypopups:hover {
    /* background-color: linear-gradient(to right, #4267B2, #5D91FA); */
    background: -moz-linear-gradient(45deg, #00dbde, #5D91FA);
    background: -webkit-linear-gradient(45deg, #00dbde, #5D91FA);
    background: -o-linear-gradient(45deg, #00dbde, #5D91FA);
    color: white;
    border-color: white;
    border-width: 0;
}

.editanddeleteButtonCont {
    float: right;
    display: block;
    width: 40%;
    min-width: 30%;
    top: 0;
}

.editanddeleteButtonCont i {
    margin-left: 15%;
    float: right;
}

#form2 {
    border: 1px solid #D1D1D1;
    width: 98%;
    background-color: white;
    margin: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    min-width: 20%;
    margin-top: -25%;
    /*set to a negative number 1/2 of your height*/
    margin-left: -25%;
    /*set to a negative number 1/2 of your width*/
    z-index: 10002;
    border-radius: 10px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
}

.hider {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200%;
    height: 200%;
    margin-top: -800px;
    /*set to a negative number 1/2 of your height*/
    margin-left: -500px;
    /*set to a negative number 1/2 of your width*/
    /*
        z- index must be lower than pop up box
       */
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
}

.submitbutton5 {
    border: 1px solid  #801515;
    background-color: white;
    color: #801515;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    bottom: 10px;
    display: inline-block;
}

.submitbutton5:hover {
    border: 1px solid white;
    background-color: #801515;
    color: white;
    text-decoration: none;
}

.newsfeedPopUpButton-Cont {
    width: 100%;
    text-align: center;
}

.editQuestionTitle {
    margin-left: 4%;
    padding: 15px;
    width: 93%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 5px;
    color: black;
    border: 1px solid #D1D1D1;
    display: block;
    border-radius: 20px;
}

.editTitleDescription {
    font-size: 13px;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    word-break: break-word;
}

button .msg-follow,
button .msg-following,
button .msg-unfollow {
    display: none;
}

button .msg-follow {
    display: inline;
}

button.following .msg-follow {
    display: none;
}

button.following .msg-following {
    display: inline;
}

button.following:not(.wait):hover .msg-following {
    display: none;
}

button.following:not(.wait):hover .msg-unfollow {
    display: inline;
}

categoryEditbutton{
    border: 1px solid #801515;
    color: #801515;
}
.comment-head {
   
    text-align: left;
    padding: 5px;
   
}
.comment-head span {
    padding-left: 3px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.comment-head p {
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.answerdivbutton{
   

   margin-right: 0;
   float: right;
}
.answerdisplayname{
    display: inline-block;
   float: left;

}
.answerdivbutton i{
    display: inline-block;
    position: relative;
    margin: 0 10px 0 10px;

}