.convoName {
    text-overflow: ellipsis;
    cursor: pointer;
}

#sideChat {
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0px;
    right: 5.8%;
    max-height: 80%;
    background: #fbfbfb;
    z-index: 2000000;
}

#sideChatHeader {
    border-radius: 5px 5px 0 0;
    background:linear-gradient(to right,#90001f,rgb(118, 2, 28));
    margin: 0px;
    width: relative;
    z-index: 2000000;
}

div.chatTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.chatTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.chatTab button:hover {
    background-color: #ddd;
}

div.chatTab button.active {
    background-color: #ccc;
}

.chatLabel {
    float: left;
    padding-left: 10px;
}

.chatBtn:hover,
.chatBtn:hover,
#chatBtn {
    background: linear-gradient(to right, #D46A6A, #801515);
    outline: none;
}

@media only screen and (max-width: 540px) {
    .sideChatContainer {
        display: none !important;
    }
    /*
.chat-sidebar
{
float: right;
display: none !important;
display: block;
position: absolute;
z-index: 100 !important;
}*/
    .chat-popup {
        display: none !important;
    }
}

.chat-sidebar {
    width: inherit;
    position: relative;
    height: 900px;
    right: 0px;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    font-size: 12px;
}

.sidebar-name span {
    padding-left: 5px;
}

.sidebar-name a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.sidebar-name:hover {
    background-color: #e1e2e5;
}

.sidebar-name img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.popup-box {
    border-radius: 5px 5px 0 0;
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    max-height: 290px;
    background-color: rgb(237, 239, 244);
    width: 270px;
    border: 1px solid rgba(29, 49, 91, .3);
    z-index: 0;
}

.popup-box .popup-head {
    background: linear-gradient(to right, #D46A6A, #801515);
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-box .popup-head .popup-head-left {
    float: left;
}

.popup-box .popup-head .popup-head-right {
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar-button {
    display: block;
    height: 13px;
    border-radius: 0px;
    background-color: #AAA;
}

::-webkit-scrollbar-button:hover {
    background-color: #AAA;
}

::-webkit-scrollbar-thumb {
    background-color: #CCC;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #CCC;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
}

::-webkit-scrollbar-track:hover {
    background-color: #CCC;
}

::-webkit-scrollbar {
    width: 6px;
}

::-moz-scrollbar-button {
    display: block;
    height: 13px;
    border-radius: 0px;
    background-color: #AAA;
}

::-moz-scrollbar-button:hover {
    background-color: #AAA;
}

::-moz-scrollbar-thumb {
    background-color: #CCC;
}

::-moz-scrollbar-thumb:hover {
    background-color: #CCC;
}

::-moz-scrollbar-track {
    background-color: #efefef;
}

::-moz-scrollbar-track:hover {
    background-color: #CCC;
}

::-moz-scrollbar {
    width: 6px;
}

.popup-box .popup-messages {
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 300px;
    overflow-x: hidden;
}

.col-md-2,
.col-md-10 {
    padding: 0;
}

.panel {
    margin-bottom: 0px;
}

.chat-window {
    bottom: 0;
    position: fixed;
    float: right;
    margin-left: 10px;
}

.chat-window>div>.panel {
    border-radius: 5px 5px 0 0;
}

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 300px;
    overflow-x: hidden;
}

.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
    text-align: initial;
}

.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages>p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
    text-align: initial;
}

.messages>time {
    font-size: 11px;
    color: #ccc;
}

.messages>p {
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.chatvatar {
    display: block;
    width: 100%;
}

.avatar {
    position: relative;
}

.base_receive>.avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.base_sent>.avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
    /*not quite perfect but close*/
}

.msg_sent>time {
    float: right;
}

.msg_receive>time {
    text-align: left;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
}

.btn-chat {
    background: linear-gradient(to right, #D46A6A, #801515);
}

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge-error {
    background-color: #b94a48;
}

.wrap img.online {
    border: 2px solid #2ecc71;
}

.wrap img.away {
    border: 2px solid #f1c40f;
}

.wrap img.busy {
    border: 2px solid #e74c3c;
}

.wrap img.offline {
    border: 2px solid #95a5a6;
}

.wrap p {
    float: left;
    margin-left: 15px;
}

.wrap span.contact-status {
    position: absolute;
    left: 0px;
    top: 2px;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #95a5a6;
    z-index: 200000;
}

.wrap span.online {
    background: #2ecc71;
}

.wrap span.away {
    background: #f1c40f;
}

.wrap span.busy {
    background: #e74c3c;
}