@-ms-viewport {
    width: device-width;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

* {
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
}


}
body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: Poppins-Regular, sans-serif;
    background: #E9EBEE;
}
.tags-section {
    width: 100%;
    height: 100%;
    background: #E9EBEE;
    background-repeat: no-repeat;
    background-size: cover;
}
.tags-landing {
    background: #E9EBEE;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    min-height: 600px;
    flex-direction: row;
    border: 1px black solid;
    margin: 0 auto;
}
.tags-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: white;
    height: 6%;
    box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.8);
}
.tags-pages {
    float: right;
    margin-right: 18%;
    margin-top: font-family: Poppins-Regular;
}
.tags-pages a {
    display: inline-block;
    font-size: 40px;
    padding: 8px;
    text-decoration: none;
    color: #5F7189;
    margin: 2px 8px 10px 10px;
    position: relative;
    display: inline-block;
    font-family: Poppins-Regular, sans-serif;
    font-size: 100%;
}
.tags-pages a:hover {
    color: #AA3939;
    text-decoration: none;
}
.tags-nav input {
    margin-left: 15%;
    margin-top: 3px;
    border-radius: 100px;
    padding: 8px;
    padding-left: 15px;
    width: 25%;
    height: 30px;
    color: #66757F;
    border: 2px solid rgb(131, 145, 155);
    background-color: white;
}
.searchbutton {
    background-color: white;
    margin-top: 5px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    color: rgb(133, 152, 165);
    border: 2px solid #66757F;
}
.searchbutton:hover {
    background-color: #4AB3F4;
    color: white;
    border: 2px solid #66757F;
}
.tags-alltagscontainer {
    width: 100%;
    margin-top: 40px;
    background: #E9EBEE;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    text-align: center;
    color: white;
}
.categorytagsCont {
    background-color: white;
    width: 20%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}
.categorytagsCont:hover {
    transition: 0.33s all ease;
    border: 1px solid #801515;
}
.categoryname {
    border: 1px solid white;
    padding: 5px;
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    width: 100%;
    background-color: #801515;
}
.categoryname:hover {
    background: linear-gradient(to right, #D46A6A, #801515);
}
.tagsname {
    padding: 3px 7px 3px 7px;
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    min-width: 20px;
    color: #801515;
}
.categorytagsCont a:hover {
    color: white;
}
.tagsname:hover {
    background-color: #801515;
    color: white;
    border-color: white;
    box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.8);
    transition: 0.35s all ease;
    text-decoration: none;
}