@-ms-viewport {
    width: device-width;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: Poppins-Regular, sans-serif;
    text-align: center;
    background-color: #E9EBEE;
}

.tags-section {
    width: 100%;
    height: 100%;
}

.tags-landing {
    background: #E9EBEE;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    min-height: 600px;
    flex-direction: row;
    border: 1px black solid;
    margin: 0 auto;
    text-align: center;
}

.tags-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: white;
    height: 6%;
    box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.8);
    font-family: Poppins-Regular, sans-serif;
    display: block;
}

.tags-pages {
    float: right;
    margin-right: 18%;
    margin-top: .6%;
    font-family: Poppins-Regular;
}

.tags-nav a {
    font-size: 15px;
    text-decoration: none;
    color: #66757F;
    margin: 0 0 10px 10px;
    position: relative;
}

.tags-nav input {
    margin-left: 15%;
    margin-top: 3px;
    border-radius: 100px;
    padding: 8px;
    padding-left: 15px;
    width: 25%;
    height: 30px;
    color: #66757F;
    border: 2px solid rgb(131, 145, 155);
    background-color: white;
}

.searchbutton {
    background-color: white;
    margin-top: 5px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    color: rgb(133, 152, 165);
    border: 1px solid #66757F;
}

.searchbutton:hover {
    background-color: #4AB3F4;
    color: white;
    border: 2px solid #66757F;
}

.specificTagQuestions {
    position: relative;
    width: 45%;
    margin-top: 3.5%;
    margin-left: 27.5%;
    display: block;
}

.specificTagsDiv {
    background-color: white;
    height: auto;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.8);
}

.specitifictagsButtons a {
    border: 1px solid #66757F;
    padding: 5px 10px 5px 10px;
    width: 20%;
    display: inline-block;
    border-radius: 10px;
}

.specitifictagsButtons {
    width: 100%;
}

.specitifictagsButtons a:hover {
    border: 1px solid #801515;
}

.specificTagsDiv h4 {
    text-align: left;
}

.specificTagsDiv h5 {
    text-align: left;
}

.specificTagsDiv p {
    text-align: left;
}

.editbuttonTags {
    width: 10%;
    border: 1px solid #66757F;
    float: right;
    border-radius: 10px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}