<!DOCTYPE html>
<html>

<head>
    <title> IIT Overflow </title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/categories.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/image/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="../static/css/jquery.fullPage.css" />

    <meta name="google-signin-scope" content="">
    <meta name="google-signin-client_id" content="976545483152-3u1fctn90tf0qvjevud1hkfu3jdneog0.apps.googleusercontent.com">
    <meta name="google-signin-client_secret" content="dhayVHWZ-OsnjdQO47qZXhOD">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
    <script src="../static/vendors/jquery.easings.min.js"></script>


    <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
    <script type="text/javascript" src="../static/vendors/scrolloverflow.min.js"></script>

    <script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>


    <script>
        $(document).ready(function() {
            $('.fullpage').fullpage();
        });
    </script>
</head>

<body>
    <div id="" class="section">
        <div class="features">
            <div class="date" id="options">

                <h1 style="float:right;">Choose Your Interests!</h1>


                <br>

                <br>
                <br>

                <hr style="font-weight: 5px; border: 1px solid white; width: 100%;">
                <br> {% for category in categories %}

                <button class="categorybuttons" value="{{ category['id'] }}" type="submit">{{category['name']}}</button> {% endfor %}

            </div>
            <div class="time">

                <h1> Interests Go Here!</h1>

                <hr style="font-weight: 5px; border: 1px solid white; width: 60%;">
                <div id="contain-interest" value="contain-interest"></div>

            </div>
            <button class="userinterests" id="interestId">Submit</button>
        </div>
    </div>
    </div>

</body>

<script>
    var interests = [];

    var contain = document.getElementById("contain-interest");
    var option = document.getElementById("options");

    $(document).on('click', '.categorybuttons', function() {
        var categoryname = $(this).text();
        var categoryid = $(this).val();
        var text = document.createTextNode(categoryname);
        var btn = document.createElement("button");
        btn.setAttribute("class", "selected");
        btn.setAttribute("value", $(this).val());
        btn.appendChild(text);
        contain.appendChild(btn);
        interests.push(categoryid);
        $(this).remove();
        console.log(interests);
    });

    $(document).on('click', '.selected', function() {
        var id = $(this).val();
        var index = interests.indexOf(id);
        // alert("Index in interests: " + index);
        if (index > -1) {
            interests.splice(index, 1);
        }
        //alert("List of ids: " + interests);
        categoryname = $(this).text();
        categoryid = $(this).val();
        text = document.createTextNode(categoryname);
        btn = document.createElement("button");
        btn.setAttribute("class", "categorybuttons");
        btn.setAttribute("value", categoryid);
        btn.appendChild(text);
        option.appendChild(btn);
        $(this).remove();
    });

    $(".userinterests").click(function() {
        if (interests.length == 0) {
            alert("Interests must not be empty!");
        } else {
            //alert("Submit Level 1");
            var data = {
                "ids": interests,
            }
            $.ajax({
                type: "POST",
                url: "{{ url_for('fillup') }}",
                data: JSON.stringify({
                    "ids": interests
                }),
                contentType: 'application/json; charset=UTF-8',
                success: function() {
                    //alert("Submit Level 2");
                    console.log('Success!!!');
                    window.location.replace('/newsfeed');
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    });
</script>
<script src="../static/js/app.js"></script>

</html>