<html>
	<head><title>Categories</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
<body  >
	
	
		<h1>Choose you interests! </h1>
		{% for i in category %}
		<button class="interestbutton" value="{{ i }}" type="submit" > {{i}} </button>
		{% endfor %}
		<h1>Interests: </h1>
		<div id="contain-interest" style="border: 2px solid black;">
			
		</div>
		
		<button class="userinterests">Submit</button>
	


</body>
<script type="text/javascript">
	var interests = [];
	var contain = document.getElementById("contain-interest");

	$(".interestbutton").click(function() {
		var value = $(this).val();
		var text = document.createTextNode(value);
		var btn = document.createElement("button");
		btn.setAttribute("class", "selected");
		$(".selected")
		btn.appendChild(text);
		contain.appendChild(btn);
		interests.push(value);
		$(this).remove();
	});


	$(".userinterests").click(function(){
		for (var i = interests.length - 1; i >= 0; i--) {
			Things[i]
		}
	});
	
</script>