<!DOCTYPE html>
<html>

<head>
    <title> IIT Overflow </title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/landingpage.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/image/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="../static/css/jquery.fullPage.css" />

    <meta name="google-signin-scope" content="">
    <meta name="google-signin-client_id" content="976545483152-3u1fctn90tf0qvjevud1hkfu3jdneog0.apps.googleusercontent.com">
    <meta name="google-signin-client_secret" content="dhayVHWZ-OsnjdQO47qZXhOD">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
    <script src="../static/vendors/jquery.easings.min.js"></script>


    <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
    <script type="text/javascript" src="../static/vendors/scrolloverflow.min.js"></script>

    <script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>

    <script>
        $(document).ready(function() {
            $('.fullpage').fullpage();
        });
    </script>
</head>

<body>
    <div class="fullpage">
        <div class="section">
            <div class="landing">
                <div class="landingWrapper">
                    <div class="nav">

                        <a href="#"><img src="../static/image/seal-03.png" alt="logo" class="logo"></a>

                        <div class="pages">
                            <a href="#">Home</a>
                            <a href="#">About</a>
                            <a href="#">Downloads</a>
                            <a href="#section1" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></a>
                        </div>


                    </div>
                    <div class="landingContent">
                        <div class="contentLeft">
                            <h1>IIT Overflow : Ask Questions and Start <br> Learning Today!</h1>
                            <p>IITOverflow is an interactive website which caters MSU-IIT student's <br> daily inquiry for knowledge.<br> We provide a fast-pace environment where every students can ask <br> questions regarding their homeworks or projects.
                                ..
                            </p>

                            <div class="btnTwocont">
                                <h2 class="SignInMessage"> To use our App, please Sign in Via my.iit account only.</h2>
                            </div>
                        </div>
                        <div class="contentRight">
                            <img src="../static/image/iphoneX_inHand.png" alt="iphoneXinhand" class="iphoneHand"> </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="section1" class="section">
        <div class="features">
            <div class="date" id="options">

                <h1 style="float:right;">Choose Your Interests!</h1>

                <div style="border: 1px solid white; width: 165%;float:left ; margin-left: -700px;"></div>
                <br>
                <br>
                <br>
                <br> {% for category in categories %}
                <button class="categorybuttons" value="{{ category['id'] }}" type="submit">{{category['name']}}</button> {% endfor %}

            </div>
            <div class="time">

                <h1> Interests Go Here!</h1>
                <div style="border: 1px solid white; width: 95%;float:left ; margin-left: -10px; margin-bottom:10px;"></div>
                <div>
                    <div id="contain-interest" value="contain-interest"></div>

                </div>
                <a class="userinterests" id="interestId">Submit</a>
            </div>
        </div>
    </div>
    <script src="../static/js/app.js"></script>
</body>

<script>
    var interests = [];

    var contain = document.getElementById("contain-interest");
    var option = document.getElementById("options");

    $(".categorybuttons").click(function() {
        var categoryname = $(this).text();
        var categoryid = $(this).val();
        var text = document.createTextNode(categoryname);
        var btn = document.createElement("button");
        btn.setAttribute("class", "selected");
        btn.setAttribute("value", $(this).val());
        btn.appendChild(text);
        contain.appendChild(btn);
        interests.push(categoryid);
        $(this).remove();
        console.log(interests);
    });

    $(document).on('click', '.selected', function() {
        var id = $(this).val();
        var index = interests.indexOf(id);
        // alert("Index in interests: " + index);
        if (index > -1) {
            interests.splice(index, 1);
        }
        // alert("List of ids: " + interests);
        categoryname = $(this).text();
        categoryid = $(this).val();
        text = document.createTextNode(categoryname);
        btn = document.createElement("button");
        btn.setAttribute("class", "categorybuttons");
        btn.setAttribute("value", categoryid);
        btn.appendChild(text);
        option.appendChild(btn);
        $(this).remove();
    });

    $("button").on('click', function() {
        if (this.className == "categorybuttons") {
            var categoryname = $(this).text();
            var categoryid = $(this).val();
            var text = document.createTextNode(categoryname);
            var btn = document.createElement("button");
            btn.setAttribute("class", "selected");
            btn.setAttribute("value", $(this).val());
            btn.appendChild(text);
            contain.appendChild(btn);
            interests.push(categoryid);
            $(".selected").click(function() {
                $(this).remove();
                var index = interests.indexOf($(this).val());
                alert(index);
                if (index > -1) {
                    interests.splice(index, 1);
                }
                alert(interests);
                categoryname = $(this).text();
                categoryid = $(this).val();
                text = document.createTextNode(categoryname);
                btn = document.createElement("button");
                btn.setAttribute("class", "categorybuttons");
                btn.setAttribute("value", $(this).val());
                btn.appendChild(text);
                option.appendChild(btn);
            });
            interests.push(categoryid);
            $(this).remove();
            console.log(interests);


        }
    });

    $(".userinterests").click(function() {
        alert("Submitted");
        var data = {
            "ids": interests,
        }
        $.ajax({
            type: "POST",
            url: "{{ url_for('fillup') }}",
            data: JSON.stringify({
                "ids": interests
            }),
            contentType: 'application/json; charset=UTF-8',
            success: function() {
                console.log('Success!!!');
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>

</html>