<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="">
    <meta name="google-signin-client_id" content="976545483152-3u1fctn90tf0qvjevud1hkfu3jdneog0.apps.googleusercontent.com">
    <meta name="google-signin-client_secret" content="dhayVHWZ-OsnjdQO47qZXhOD">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

<script src="../static/js/app.js"></script>

</body>
</html>