<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/mainprofile.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="../static/js/mainprofile.js"></script>


</head>

<body>
    <!-- <div class="Profile-hider" id="hider">

    </div> -->
    <div class="profile-fullpage">


        <!-- <div class="profile-popup_box1" id="popup_box1">
            Message
            <br />
            <a id="buttonClose">Close</a>
        </div> -->

        <div class="profile-section">
            <div class="profile-landing">

                <div class="profile-nav">
                    <div class="profile-search">

                        <button class="profile-searchbutton" type="submit">
                            <span class="glyphicon glyphicon-search">
                        </button>
                        <input class="profile-searchbar" type="text" placeholder="Search..">

                    </div>
                    <div class="profile-pages">

                        <a href="{{ url_for('.question') }}"><span class="glyphicon glyphicon-home"></span>  Home</a>
                        <a href="{{ url_for('.profile', id=curuser)}}"><span class="glyphicon glyphicon-user"></span>  Profile</a>
                        <a href="#"><span class="glyphicon glyphicon-bell"></span>  Notifications</a>
                        <a href="" onclick="signOut();"><span class="glyphicon glyphicon-asterisk"></span> Logout</a>

                    </div>
                </div>
                <div class="profile-contentTop">
                    <div class="profile-contentTopCover">
                        <img src="../static/image/background1.jpg" alt="profilecover">
                        <div class="profilepictureContainer">
                            <img id="profPic" src="{{ json_object.picture }}" alt="Profilepic">
                        </div>
                    </div>
                    <div class="profile-contentTopLinks">
                        <div class="profile-contentTopNav">
                            {% block body %}
                            <a type="submit" id="profile-PostButton">{{questions}} Posts</a>
                            <a type="submit" id="profile-FollowersButton">{{followers}} Followers</a>
                            <a type="submit" id="profile-FollowingButton">{{following}} Following</a>
                            <a type="submit" id="profile-FollowedQuestionButton">{{questionsfollowed}} Followed Questions</a>
                            <a type="submit" id="profile-AnsweredQuestionButton">{{answers}} Answered Questions</a> 
                            {% if s_code == 404%}
                            <button id="followus" class="unfollow">
                                <a class="msg-follow followbutton" id ="followusText" >Follow</a>
                            </button> {%else%}
                            <button id="followus" class="unfollow">
                                <a class="msg-follow followbutton" id= "followusText">Unfollow</a>
                            </button> {%endif%} {% endblock %}
                            <a class="messageprofile" style="cursor:pointer;">Message</a>
                        </div>

                    </div>



                </div>
                <div class="CenterLeftRightCont" style="margin-top: 400px;">
                    <div class="profile-contentLeft">

                        <!-- <h4>Bio info here</h4> -->
                          <p style="font-weight: 1000; font-size: 22px" id="dispn"> {{ json_object['displayname'] }} </p>
                            <a class="profilePostEmail"> {{json_object.email}} </a>

                                <div class="profile-linksInterests" id="interestscontainer">
                                    <h4> Interests</h4>
                                    <br> {% for interest in json_object1.interests %}
                                    <a style="border:1px solid black" id="int"> {{interest.name}} </a>
                                    {% endfor %}
                                </div>
                    </div>

                    <div class="profileCenterDiv">
                            <!--<div class="FollowedQuestionsContainer">-->
                                    {% for question in followed_questions|reverse %}
                                    <div class="profile-contentCenter">
                                        <div class="profilePostPictureCont">
                                            <img class="profilePostPicture" src="{{ json_object.picture }}">

                                        </div>
                                        <div class="profileNameEmail">
                                            <a class="profilePostUsername">{{question.user.displayname}}</a>
                                            <a class="profilePostEmail">{{question.user.email}}</a>
                                            <h3 class="profilePostTitle">Title:{{ question.question }}</h3>
                                        </div>

                                        <br>

                                        <p class="profilePostAnswer">{{ question.questiondesc }}</p>
                                        <div class="profilePostButton">
                                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                                            <a href="#" class="glyphicon glyphicon-comment"></a>
                                            <a onclick="upvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-up" id="QupVote"> </a>
                                            <a onclick="downvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-down" id= "QdownVote"> </a>
                                            <button  onclick = "followedQuestion('{{question.id}}')" >
                                                <a href="#"  id={{"followques_{0}".format(question.id)}} class="profilePostFollowButton">Unfollow</a>
                                            </button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                <!--</div>-->

                        <div class="AnsweredQuestionsContainer">
                            {% for question in answered_questions|reverse %}
                            <div class="profile-contentCenter">
                                <div class="profilePostPictureCont">
                                    <img class="profilePostPicture" src="../static/image/google.png">
                                </div>
                                <div class="profileNameEmail">
                                    <a class="profilePostUsername">{{question.user.displayname}}</a>
                                    <a class="profilePostEmail">{{question.user.email}}</a>
                                    <h3 class="profilePostTitle">Title:{{ question.question.question }}</h3>
                                </div>
                                <p class="profilePostAnswer">Description:{{ question.question.questiondesc }}</p>
                                <div class="profile-questionAnswer">Answer: {{ question.answer }}</div>
                                <div class="profilePostButton">
                                    <a href="#" class="glyphicon glyphicon-pencil"></a>
                                    <a href="#" class="glyphicon glyphicon-comment"></a>
                                    <a onclick="upvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-up" ></a>
                                    <a onclick="downvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-down"></a>
                                    <button  onclick = "followedQuestion('{{question.id}}')" >
                                        <a href="#"  id={{"followques_{0}".format(question.id)}} class="profilePostFollowButton">Unfollow</a>
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>


                        {% for i in json_object.questions|reverse %}

                        <div class="profile-contentCenter" id="{{i.id}}">
                            <div class="profilePostPictureCont">
                                <img class="profilePostPicture" src="../static/image/google.png">

                            </div>
                            <div class="profileNameEmail">
                                <a class="profilePostUsername">{{json_object.displayname}}</a>
                                <a class="profilePostEmail">{{json_object.email}}</a>
                                <h3 class="profilePostTitle">Title:{{i.question}}</h3>
                            </div>

                            <br>

                            <p class="profilePostAnswer">{{i.questiondesc}}</p>
                            <div class="profilePostButton">
                                <a href="#" class="glyphicon glyphicon-pencil"></a>
                                <a href="#" class="glyphicon glyphicon-comment"></a>
                                <a onclick="upvote('{{i.id}}')" class="glyphicon glyphicon-thumbs-up" ></a>
                                <a onclick="downvote('{{i.id}}')" class="glyphicon glyphicon-thumbs-down"></a>
                                <button  onclick = "followedQuestion('{{i.id}}')" >
                                    <a href="#"  id={{"followques_{0}".format(i.id)}} class="profilePostFollowButton">Unfollow</a>
                                </button>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    <div>
                        <a href=" "> </a>
                    </div>
                    <div class="FollowersContainer">
                        
                            {% for follower in json_object1.followers %}
                            <div class="FollowersRow">
                            
                            <div class="col-md-2 col-sm-6">
                                    <a href="{{ url_for('.profile', id = follower.id) }}">
                                <div class="our-team">
                                    <div class="FollowersPic">
                                        <img src="{{ follower.picture }}">
                                        <div class="team-content">
                                            <h3 class="FollowersTitle">{{ follower.displayname }}</h3>
                                        </div>
                                    </div>
                                    <ul class="social">
                                        <button  onclick = "followedUser('{{follower.id}}')" >
                                            <a href="#"  id={{"followuser_{0}".format(follower.id)}} class="followerButton">Unfollow</a>
                                        </button>
                                    </ul>
                                </div>
                            </div>
                        </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="profile-contentRight">
                        <h4>Who to Follow</h4>
                        
                       {% for i in whotofollowusers %}
                                <div class="whotoFollowss1" id= {{"whotoFollow_{0}".format(i.id)}}>
                                <div class="picturess1">
                                    <img class="profileimagess1" src="{{ i.picture }}">
                                </div>
            
                                <button  onclick = "followable('{{i.id}}')" class="whotofollowButtonss1">
                                    <a href="#"  id={{"followa_{0}".format(i.id)}} >Follow</a>
                                </button>

                                <div class="whotoFollowNamess1">
                                    <a href="{{ url_for('.profile', id = i.id) }}" >{{ i.displayname }}</a>

                                    <a>{{ i.email }}</a>
                                </div>
            
                            </div>
                            {% endfor %}
            
            
                             <a>
                                <h4>See all</h4>
                            </a>
                    </div>

                    <div class="FollowingContainer">

                            {% for g in json_object1.following %}
                            <div class="FollowersRow">
                            <a href="{{ url_for('.profile', id = g.id) }}">
                            <div class="col-md-2 col-sm-6">
                                <div class="our-team">
                                    <div class="FollowersPic">
                                        <img src="{{ g.picture }}">

                                        <div class="team-content">
                                            <h3 class="FollowersTitle">{{g.displayname}}</h3>
                                            <span class="FollowersPost">Web Developer</span>
                                        </div>
                                    </div>
                                    <ul class="social">
                                        <button  onclick = "followedUser('{{g.id}}')" >
                                            <a href="#"  id={{"followuser_{0}".format(g.id)}} class="followerButton">Unfollow</a>
                                        </button>  
                                    </ul>
                                </div>
                            </div>
                            </a>
                            {% endfor %}
                        </div>
                </div>
        </div>
    </div>
    </div>

    </div>
    </div>

    </div>


    </div>
    </div>


    </div>

    </div>
    </div>

    </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".profile-contentCenter").show('slow');
            $(".FollowersContainer").hide();
            $(".FollowingContainer").hide();
            $(".FollowedQuestionsContainer").hide();
            $(".AnsweredQuestionsContainer").hide();
            $("#hider").hide();
            $("#popup_box1").hide();
        });
        $(".profile-contentCenter").click(function() {
            $("#hider").fadeIn("slow");
            $('#popup_box1').fadeIn("slow");

            $("#buttonClose").click(function() {
                $("#hider").fadeOut("slow");
                $('#popup_box1').fadeOut("slow");
            });
            $("#hider").click(function() {
                $("#hider").fadeOut("slow");
                $('#popup_box1').fadeOut("slow");
            });
        });
        $("#profile-PostButton").click(function() {
            $(".profile-contentCenter").show('slow');
            $(".FollowersContainer").hide();
            $(".FollowingContainer").hide();
            $(".FollowedQuestionsContainer").hide();
            $(".AnsweredQuestionsContainer").hide();
            $(".profile-contentRight").show('slow');
            $(".profile-contentLeft").show('slow');
            $(".profileCenterDiv").show('slow');
        });
        $("#profile-FollowersButton").click(function() {
            $(".profile-contentCenter").hide();
            $(".FollowersContainer").show('slow');
            $(".FollowingContainer").hide();
            $(".FollowedQuestionsContainer").hide();
            $(".AnsweredQuestionsContainer").hide();
            $(".profile-contentRight").hide();
            $(".profile-contentLeft").hide();
            $(".profileCenterDiv").hide();
        });
        $("#profile-FollowingButton").click(function() {
            $(".profile-contentCenter").hide();
            $(".FollowersContainer").hide();
            $(".FollowingContainer").show('slow');
            $(".FollowedQuestionsContainer").hide();
            $(".AnsweredQuestionsContainer").hide();
            $(".profile-contentRight").hide();
            $(".profile-contentLeft").hide();
            $(".profileCenterDiv").hide();
        });
        $("#profile-FollowedQuestionButton").click(function() {
            $(".profile-contentCenter").show();
            $(".FollowersContainer").hide();
            $(".FollowingContainer").hide();
            $(".FollowedQuestionsContainer").show('slow');
            $(".AnsweredQuestionsContainer").hide();
            $(".profile-contentRight").show('slow');
            $(".profile-contentLeft").show('slow');
            $(".profileCenterDiv").show('slow');
        });
        $("#profile-AnsweredQuestionButton").click(function() {
            $(".profile-contentCenter").show('slow');
            $(".FollowersContainer").hide();
            $(".FollowingContainer").hide();
            $(".FollowedQuestionsContainer").hide();
            $(".AnsweredQuestionsContainer").show('slow');
            $(".profile-contentRight").show('slow');
            $(".profile-contentLeft").show('slow');
            $(".profileCenterDiv").show('slow');
        });

        $('#followus').on('click', function() {
            $.ajax({
                type: 'HEAD',
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/{{ user }}',
                success: function(message) {
                    $.ajax({
                        type: 'DELETE',
                        async: true,
                        url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/{{ user }}',
                        success: function(message) {
                            $("#followusText").text("Follow");
                            console.log("unfollowed")
                        },
                        error: function(message) {
                            console.log(message);
                        }
                    });
                    $('#followusText').text("Follow")
                },
                error: function(message) {
                    if (message.status == 404) {
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/{{ user }}',
                            success: function(message) {
                                $("#followusText").text("Unfollow");
                                console.log("Followed");

                            }
                        });
                    }
                }
            });
        });

      function upvote(qid) {
            console.log(qid);
            $.ajax({
                type: 'HEAD',
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsupvoted/rel/'+qid,
                success: function(message) {
                    console.log("Already upvoted!");
                    
                },
                error: function(message) {
                    if (message.status == 404) {
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsupvoted/rel/'+qid,
                            success: function(message) {
                               $.ajax({
                                   type: "DELETE",
                                   async: true,
                                   url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsdownvoted/rel/'+qid,
                                   success: function() {
                                       console.log("Sucessful deleted downvote after upvote!");
                                       console.log(".glyphicon glyphicon-thumbs-up#"+qid);
                                       $(".glyphicon glyphicon-thumbs-up#"+qid).css("color", "blue");
                                   }
                               });
                               console.log("Upvoted question!");

                            }
                        });
                    }
                }
            });
        }

        function downvote(qid) {
            console.log(qid);
            $.ajax({
                type: 'HEAD',
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsdownvoted/rel/'+qid,
                success: function(message) {
                    console.log("Already downvoted!");
                },
                error: function(message) {
                    if (message.status == 404) {
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsdownvoted/rel/'+qid,
                            success: function(message) {
                                $.ajax({
                                   type: "DELETE",
                                   async: true,
                                   url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsupvoted/rel/'+qid,
                                   success: function() {
                                       console.log("Sucessful deleted upvote after downvote!");
                                       console.log(".glyphicon glyphicon-thumbs-down#"+qid);
                                   }
                               });
                                console.log("Downvoted question!");

                            }
                        });
                    }
                }
            });
        }
    
        function followedQuestion(qid){
            $.ajax({
                type: "HEAD",
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsfollowed/rel/'+qid,
                success: function(message){
                    $.ajax({
                        type: 'DELETE',
                        async: true,
                        url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsfollowed/rel/'+qid,
                        success: function(message){
                            $('#followques_'+qid).text('Follow');
                            console.log('UNFOLLOWED');
                        },
                        error: function(message){
                            console.log(message);
                        }
                    });
                    $('#followques').text('Follow')
                },
                error: function(message){
                    console.log("FOLLOW QUESTION");
                        console.log("FOLLOW QUESTION");
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsfollowed/rel/'+qid,
                            success: function(message){
                                $('#followques_'+qid).text('Unfollow');
                                console.log('Followed');
                            }
                        });
                }

            });
        }

        function followedUser(uid){
            $.ajax({
                type: "HEAD",
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/following/rel/'+uid,
                success: function(message){
                    $.ajax({
                        type: 'DELETE',
                        async: true,
                        url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/following/rel/'+uid,
                        success: function(message){
                            $('#followuser_'+uid).text('Follow');
                            console.log('UNFOLLOWED');
                        },
                        error: function(message){
                            console.log(message);
                        }
                    });
                    $('#followuser_').text('Follow')
                },
                error: function(message){
                    console.log("FOLLOW QUESTION");
                        console.log("FOLLOW QUESTION");
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/following/rel/'+uid,
                            success: function(message){
                                $('#followuser_'+uid).text('Unfollow');
                                console.log('Followed');
                            }
                        });
                }

            });
        }
            
    function followable(qid){
        
        $.ajax({
            type: "HEAD",
            async: true,
            url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/'+qid,
            success: function(message){
                $.ajax({
                    type: 'DELETE',
                    async: true,
                    url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/'+qid,
                    success: function(message){
                        $('#followa_'+qid).text('Follow');
                        console.log('UNFOLLOWED');
                    },
                    error: function(message){
                        console.log(message);
                    }
                });
                $('#followa_').text('Follow')
            },
            error: function(message){
                console.log("FOLLOW USER");
                    console.log("FOLLOW USERRRS");
                    $.ajax({
                        type: "PUT",
                        async: true,
                        url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/'+qid,
                        success: function(message){
                            $('#whotoFollow_'+qid).hide('slow');
                            $('#whotoFollow_'+qid).remove();
                            console.log('Followed');
                        }
                    });
            }
        });
    }


    </script>


</body>