<!DOCTYPE html>
<html>

<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/mainprofile.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <meta name="google-signin-scope" content="">
    <meta name="google-signin-client_id" content="976545483152-3u1fctn90tf0qvjevud1hkfu3jdneog0.apps.googleusercontent.com">
    <meta name="google-signin-client_secret" content="dhayVHWZ-OsnjdQO47qZXhOD">

    <script src="../static/js/mainprofile.js"></script>

</head>

<body>
    <div class="profile-fullpage">
        <div class="profile-section">
            <div class="profile-landing">
                <div class="profile-nav">
                    <div class="profile-search">

                        <button class="profile-searchbutton" type="submit">
                            <span class="glyphicon glyphicon-search">
                        </button>
                        <input class="profile-searchbar" type="text" placeholder="Search..">

                    </div>
                    <div class="profile-pages">

                        <a href="{{ url_for('.question') }}"><span class="glyphicon glyphicon-home"></span>  Home</a>
                        <a href=""><span class="glyphicon glyphicon-user"></span>  Profile</a>
                        <a href="#"><span class="glyphicon glyphicon-bell"></span>  Notifications</a>
                        <a href="" onclick="signOut(); return false;"><span class="glyphicon glyphicon-asterisk"></span>Logout</a>

                    </div>
                </div>
                <div class="profile-contentTop">
                    <div class="profile-contentTopCover">
                        <img src="../static/image/background1.jpg" alt="profilecover">
                        <div class="profilepictureContainer">
                            <img id="profPic" src="{{ json_object.picture }}" alt="Profilepic">
                        </div>
                    </div>
                    <div class="profile-contentTopLinks">
                        <div class="profile-contentTopNav">
                            {% block body %}
                            <a type="submit" id="profile-PostButton">{{questions}} Posts</a>
                            <a type="submit" id="profile-FollowersButton">{{followers}} Followers</a>
                            <a type="submit" id="profile-FollowingButton">{{following}} Following</a>
                            <a type="submit" id="profile-FollowedQuestionButton">{{questionsfollowed}} Followed Questions</a>
                            <!-- <a type="submit" id="profile-AnsweredQuestionButton">{{answers}} Answered Questions</a>  -->
                            {% endblock %}
                            <a class="editprofilebutton" style="cursor:pointer;">Edit Profile</a>
                        </div>
                        <div class="CenterLeftRightCont">
                            <div class="profile-contentLeft">

                                <!-- <h4>Bio info here</h4> -->
                                <p style="font-weight: 1000; font-size: 22px" id="dispn"> {{ json_object['displayname'] }} </p>
                                <a class="profilePostEmail"> {{json_object.email}} </a>

                                <div class="profile-linksInterest" id="interestscontainer">
                                    <div style="background-color: white; padding: 10px;">
                                    <h4> Interests</h4>
                                    <hr>
                                    <br> {% for interest in json_object1.interests %}
                                    <a style="border:1px solid black" id="int"> {{interest.name}} </a>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>


                            <div class="profileCenterDiv">
                                <div class="FollowedQuestionsContainer" style="display: none;">
                                    {% for question in followed_questions|reverse %}
                                    <div class="profile-contentCenter">
                                        <div class="profilePostPictureCont">
                                            <img class="profilePostPicture" src="{{ question.user.picture }}">

                                        </div>
                                        <div class="profileNameEmail">
                                            <a class="profilePostUsername">{{question.user.displayname}}</a>
                                            <a class="profilePostEmail">{{question.user.email}}</a>
                                            <h3 class="profilePostTitle">Title:{{ question.question|safe }} <a class="showallButton" type="button" title="Show all"  id="{{question.id}}">Show description</a></h3>
                                        </div>

                                        <br>

                                        <div class="profilePostAnswer" id={{"show_{0}".format(question.id)}}>{{ question.questiondesc|safe }}</div>
                                       
                                        <hr>
                                        <div class="profilePostButton">
                                                <a href="#"  id={{"followques_{0}".format(question.id)}} class="profilePostFollowButton">Unfollow</a>
                                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                                            <a onclick="upvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-up" id="QupVote"> </a>
                                            <a onclick="downvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-down" id= "QdownVote"> </a>
                                            <button  onclick = "followedQuestion('{{question.id}}')" >
                                           
                                            </button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="AnsweredQuestionsContainer">
                                       {% for question in answered_questions|reverse %}
                                    <div class="profile-contentCenter">
                                        <div class="profilePostPictureCont">
                                            <img class="profilePostPicture" src="{{ question.user.picture }}">
                                        </div>
                                        <div class="profileNameEmail">
                                            <a class="profilePostUsername">{{question.user.displayname}}</a>
                                            <a class="profilePostEmail">{{question.user.email}}</a>
                                            <h3 class="profilePostTitle">Title:{{ question.question | safe}}<a class="showallButton" type="button" title="Show all"  id="{{question.id}}">Show description</a></h3>
                                        </div>
                                        <div class="profilePostAnswer" id={{"show_{0}".format(question.id)}}>{{ question.questiondesc | safe }}</div>
                                        <div>{{ question.answer }}</div>
                                        <div class="profilePostButton">
                                                <a href="#"  id={{"followques_{0}".format(question.id)}} class="profilePostFollowButton">Unfollow</a>
                                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                                            <a onclick="upvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-up"> </a>
                                            <a onclick="downvote('{{question.id}}')" class="glyphicon glyphicon-thumbs-down"> </a>
                                            <button  onclick = "followedQuestion('{{question.id}}')" >
                                                   
                                            </button>                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                {% for i in json_object.questions|reverse %}

                                <div class="profile-contentCenter">
                                    <div class="profilePostPictureCont">
                                        <img class="profilePostPicture" src="{{ json_object.picture }}">

                                    </div>
                                    <div class="profileNameEmail">
                                        <a class="profilePostUsername">{{json_object.displayname}}</a>
                                        <a class="profilePostEmail">{{json_object.email}}</a>
                                        <h3 class="profilePostTitle">Title:{{i.question | safe}} <a class="showallButton" type="button" title="Show all"  id="{{json_object.id}}">Show description</a> </h3>
                                    </div>

                                    <br>

                                    <div class="profilePostAnswer" id={{"show_{0}".format(json_object.id)}} >{{i.questiondesc | safe}}</div>
                                    <div class="profilePostButton">
                                            <a href="#"  id={{"followques_{0}".format(questions.id)}} class="profilePostFollowButton">Unfollow</a>
                                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                                        <a onclick="upvote('{{i.id}}')" class="glyphicon glyphicon-thumbs-up"> </a>
                                        <a onclick="downvote('{{i.id}}')" class="glyphicon glyphicon-thumbs-down" ></a>
                                        <button  onclick = "followedQuestion('{{questions.id}}')" >
                                            
                                        </button>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>


                            <div>
                                <a href=" "> </a>
                            </div>
                            <div class="FollowersContainer">
                                {% for follower in json_object1.followers %}
                                <div class="FollowersRow">

                                    <a href="{{ url_for('.profile', id = follower.id) }}">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="our-team">
                                                <div class="FollowersPic">
                                                    <img style="width: 100%; height: 100%;" src="{{ follower.picture }}">
                                                    <div class="team-content">
                                                        <h3 class="FollowersTitle">{{ follower.displayname }}</h3>
                                                       
                                                    </div>
                                                </div>
                                                <ul class="social">
                                                <button  onclick = "followedUser('{{follower.id}}')" >
                                                    <a style="color: white;" href="#"  id={{"followuser_{0}".format(follower.id)}} class="followerButton">Unfollow</a>
                                                </button>

                                                </ul>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                {% endfor %}
                            </div>



                            <div class="profile-contentRight">
                                <div style="background-color: white; padding: 10px;">
                                <h4>Who to Follow</h4>
                                <hr>
                    
                                {% for i in whotofollowusers %}
                                 <div class="whotoFollowss" id= {{"whotoFollow_{0}".format(i.id)}}>
                                    <!-- <div class="whotoFollowss" id= "{{ i.displayname }}"> -->
                                <div class="picturess">
                                    <img class="profileimagess" src="{{ i.picture }}">
                                </div>
            
                                <button  onclick = "followable('{{i.id}}')" class="whotofollowButtonss">
                                    <a href="#"  id={{"followa_{0}".format(i.id)}} >Follow</a>
                            </button>
                                <div class="whotoFollowNamess">
                                    <a href="{{ url_for('.profile', id = i.id) }}" >{{ i.displayname }}</a>

                                    <a>{{ i.email }}</a>
                                </div>
            
                            </div>
                            {% endfor %}
            
            
                             <a>
                                <h4>See all</h4>
                            </a>
                        </div>
                    </div>

                            <div class="FollowingContainer">
                                {% for g in json_object1.following %}
                                <div class="FollowersRow">

                                    <a href="{{ url_for('.profile', id = g.id) }}">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="our-team">
                                                <div class="FollowersPic">
                                                    <img style="width: 100%; height: 100%;" src="{{ g.picture }}">
                                                    <div class="team-content">
                                                        <h3 class="FollowersTitle">{{ g.displayname }}</h3>
                                                       
                                                    </div>
                                                </div>
                                                <ul class="social">                                                  
                                                        <button  onclick = "followedUser('{{g.id}}')" >
                                                            <a style="color: white;" href="#"  id={{"followuser_{0}".format(g.id)}} class="followerButton">Unfollow</a>
                                                        </button>                                                  
                                                </ul>
                                            </div>
                                            <br>
                                        </div>
                                    </a>

                                </div>
                                {% endfor %}
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    </div>


    </div>
    </div>


    </div>

    </div>
    </div>

    </div>

    </div>

    <div id="modalProf" class="modal">
        <div class="modal_close close"></div>
        <div class="modal_main">
            <img src="/static/images/ic.png" class="close" style="height: 20px; width: 20px; margin-top:13px;left:96%;position:fixed;">
            <form class="form form-vertical" action="http://iitoverflow.herokuapp.com/api/users/{{curuser}}/updatePofile" method="post" enctype="multipart/form-data">


                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="avatar-1" name="file" type="file">
                    </div>
                </div>



                <hr>
                <label>Display name: </label><input type="text" id="dispName" value="{{ json_object['displayname'] }}" placeholder="Displayname">
                    <br>
                <div id="interest-contain" style="width: 47%; float: left; overflow-y: auto; height: 40%;">
                    <h5>Interests: </h5>
                    {% for i in interests%}
                    <button value="{{i.id}}" type="button" class="interestbuttons">{{ i.name }}</button>
                    {% endfor %}
                </div>
                <div id="category-contain" style="width: 47%; float: left; overflow-y: auto; height: 40%;">
                    <h5>Categories: </h5>
                    {% for c in categories%} {% if c not in interests %}
                    <button value="{{c.id}}" type="button" class="categorybuttons">{{ c.name }}</button>
                    {% endif %}{% endfor %}
                </div>

                <br><br>
                <button type="submit" id="submitProfile" style="margin-left: -10%" class="submitEditbutton">Submit</button>

            </form>

        </div>
    </div>
    <!--<script src="../static/js/app2.js"></script>-->
<script>

    function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function() {
        $.ajax({
            url: "http://localhost:5000/logout",
            dataType: "json",
            success: function(resp) {
                if (resp.message = "okay") {
                    window.location.replace('/');
                } else {
                    console.log("Something went wrong")
                }
            },
            error: function(e) {
                console.log('ERROR')
            }
        });
    });
}
</script>
</body>
<script type="text/javascript">
        $(document).ready(function() {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    });


    $(document).ready(function() {
        $(".profile-contentCenter").show('slow');
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
        $(".profilePostAnswer").hide();
    })
    $("#profile-PostButton").click(function() {
        $(".profile-contentCenter").show('slow');
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").show('slow');
        $(".profile-contentLeft").show('slow');
        $(".profileCenterDiv").show('slow');
    })
    $("#profile-FollowersButton").click(function() {
        $(".profile-contentCenter").hide();
        $(".FollowersContainer").show('slow');
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").hide();
        $(".profile-contentLeft").hide();
        $(".profileCenterDiv").hide();
    })
    $("#profile-FollowingButton").click(function() {
        $(".profile-contentCenter").hide();
        $(".FollowersContainer").hide();
        $(".FollowingContainer").show('slow');
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").hide();
        $(".profile-contentLeft").hide();
        $(".profileCenterDiv").hide();
    })
    $("#profile-FollowedQuestionButton").click(function() {
        $(".profilePostAnswer").hide();
        $(".profile-contentCenter").show();
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").show('slow');
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").show('slow');
        $(".profile-contentLeft").show('slow');
        $(".profileCenterDiv").show('slow');
    })
    $("#profile-AnsweredQuestionButton").click(function() {
        $(".profile-contentCenter").show('slow');
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").show('slow');
        $(".profile-contentRight").show('slow');
        $(".profile-contentLeft").show('slow');
        $(".profileCenterDiv").show('slow');
    })
    $(document).ready(function() {
        $(".editprofilebutton").click(function() {
            $(".modal").fadeIn();
            $(".modal_main").show();
        });
    });
    $(document).ready(function() {
        $(".close").click(function() {
            $(".modal").fadeOut();
            $(".modal_main").fadeOut();
        });
    });

    $("#submitProfile").on("click", function(e) {
        e.preventDefault();
        var formdata = new FormData();
        var file = $('#avatar-1').prop('files');
        console.log(file);
        var name = $("#dispName").val();
        var names = $("#inter").val();
        var user = {
            "displayname": name,
            "interests": names
        };
        console.log(JSON.stringify(user));
        $.ajax({
            url: "http://iitoverflow.herokuapp.com/api/users/{{ curuser }}",
            type: "PATCH",
            data: JSON.stringify(user),
            dataType: "JSON",
            contentType: 'application/json',
            success: function(data2) {
                console.log("profile ", data2);
                $("#dispn").text(data2.displayname);
                if (file.length > 0) {
                    $.ajax({
                        url: "http://iitoverflow.herokuapp.com/api/users/{{curuser}}/updateProfile",
                        type: "POST",
                        data: {"picture": formdata.picture},
                        success: function() {
                            $("#profPic").attr("src", data.picture);
                        },
                        err: function() {
                            console.log("Error!");
                        }
                    });
                }
                if (formdata) {
                    formdata.append("file", file[0]);
                    console.log("formdata", formdata);
                    $.ajax({
                        url: "http://iitoverflow.herokuapp.com/api/users/{{curuser}}/updateProfile",
                        type: "POST",
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            //console.log("profile ", data.picture);
                            //console.log("profile ", data.picture);
                            console.log("TEST 1");
                            $("#profPic").attr("src", data.picture);
                            $("#modalProf").hide();
                        },
                        error: function(err) {
                            console.log("profile error :", err);
                        }
                    });
                    var userId = {{curuser}};
                    console.log("TEST 2: User Id: ", {{curuser}});
                    $.ajax({
                        url: "http://iitoverflow.herokuapp.com/api/users/"+userId+"/interests",
                        type: "DELETE",
                        data: JSON.stringify(user),
                        dataType: "json",
                        success: function (data3) {
                            console.log("interests are deleted")
                            interests.forEach(function(cat){
                                console.log(cat);
                                $.ajax({
                                url: "http://iitoverflow.herokuapp.com/api/users/"+userId+"/interests/rel/"+cat,
                                type: "PUT",
                                data: JSON.stringify(user),
                                dataType: "json",
                                success: function (data3) {
                                    console.log("TEST 3");
                                    console.log("Success!");
                                    $("#int").text(data3.interests);
                                    console.log("Reload Interests");
                                    $("#interestscontainer").load(location.href + " #interestscontainer");
                                },
                                error: function(err) {
                                    console.log("profile error :", err);
                                }
                                });
                            });
                        },
                        error: function(err) {
                            console.log("profile error :", err);
                        }
                    });
                }
            }
        });
        $("#modalProf").hide();
    });

</script>

<script>
    $(document).ready(function() {
        $(".call_modal").click(function() {
            $(".modal").fadeIn();
            $(".modal_main").show();
        });
    });
    $(document).ready(function() {
        $(".close").click(function() {
            $(".modal").fadeOut();
            $(".modal_main").fadeOut();
        });
    });
</script>

<script>
    $("#avatar-1").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-1',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/static/images/default.png" alt="Your Avatar">',
        layoutTemplates: {
            main2: '{preview} ' + btnCust + ' {remove} {browse}'
        },
        allowedFileExtensions: ["jpg", "png", "gif"]
    });
</script>

<script type="text/javascript">
    var interests = [];
    {% for i in interests %}
        var id = {{i.id}};
        id = id.toString();
        interests.push(id);
    {% endfor %}
    var interests_contain= document.getElementById("interest-contain");
    var category_contain = document.getElementById("category-contain");
    $(document).on('click', '.categorybuttons', function() {
        var categoryname = $(this).text();
        var categoryid = $(this).val();
        var text = document.createTextNode(categoryname);
        var btn = document.createElement("button");
        btn.setAttribute("class", "interestbuttons");
        btn.setAttribute("value", $(this).val());
        btn.appendChild(text);
        interests_contain.appendChild(btn);
        interests.push(categoryid);
        $(this).remove();
        console.log(interests);
    });
    $(document).on('click', '.interestbuttons', function() {
        var id = $(this).val();
        var index = interests.indexOf(id);
        // alert("Index in interests: " + index);
        if (index > -1) {
            interests.splice(index, 1);
        }
        // alert("List of ids: " + interests);
        categoryname = $(this).text();
        categoryid = $(this).val();
        text = document.createTextNode(categoryname);
        btn = document.createElement("button");
        btn.setAttribute("class", "categorybuttons");
        btn.setAttribute("value", categoryid);
        btn.appendChild(text);
        category_contain.appendChild(btn);
        $(this).remove();
    });
</script>

<script>
     function upvote(qid) {
            console.log(qid);
            $.ajax({
                type: 'HEAD',
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsupvoted/rel/'+qid,
                success: function(message) {
                    console.log("Already upvoted!");
                },
                error: function(message) {
                    if (message.status == 404) {
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsupvoted/rel/'+qid,
                            success: function(message) {
                               $.ajax({
                                   type: "DELETE",
                                   async: true,
                                   url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsdownvoted/rel/'+qid,
                                   success: function() {
                                       console.log("Sucessful deleted downvote after upvote!");
                                       console.log(".glyphicon glyphicon-thumbs-up#"+qid);

                                   }
                               });
                               console.log("Upvoted question!")
                            }
                        });
                    }
                }
            });
        }
        function downvote(qid) {
            console.log(qid);
            $.ajax({
                type: 'HEAD',
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsdownvoted/rel/'+qid,
                success: function(message) {
                    console.log("Already downvoted!");
                },
                error: function(message) {
                    if (message.status == 404) {
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsdownvoted/rel/'+qid,
                            success: function(message) {
                                $.ajax({
                                   type: "DELETE",
                                   async: true,
                                   url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsupvoted/rel/'+qid,
                                   success: function() {
                                       console.log("Sucessful deleted upvote after downvote!");
                                       console.log(".glyphicon glyphicon-thumbs-down#"+qid);
                                   }
                               });
                                console.log("Downvoted question!");
                            }
                        });
                    }
                }
            });
        }
        function followedQuestion(qid){
            $.ajax({
                type: "HEAD",
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsfollowed/rel/'+qid,
                success: function(message){
                    $.ajax({
                        type: 'DELETE',
                        async: true,
                        url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsfollowed/rel/'+qid,
                        success: function(message){
                            $('#followques_'+qid).text('Follow');
                            console.log('UNFOLLOWED');
                        },
                        error: function(message){
                            console.log(message);
                        }
                    });
                    $('#followques').text('Follow')
                },
                error: function(message){
                    console.log("FOLLOW QUESTION");
                        console.log("FOLLOW QUESTION");
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/questionsfollowed/rel/'+qid,
                            success: function(message){
                                $('#followques_'+qid).text('Unfollow');
                                console.log('Followed');
                            }
                        });
                }
            });
        }
    function followedUser(uid){
            $.ajax({
                type: "HEAD",
                async: true,
                url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/following/rel/'+uid,
                success: function(message){
                    $.ajax({
                        type: 'DELETE',
                        async: true,
                        url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/following/rel/'+uid,
                        success: function(message){
                            $('#followuser_'+uid).text('Follow');
                            console.log('UNFOLLOWED');
                        },
                        error: function(message){
                            console.log(message);
                        }
                    });
                    $('#followuser_').text('Follow')
                },
                error: function(message){
                    console.log("FOLLOW QUESTION");
                        console.log("FOLLOW QUESTION");
                        $.ajax({
                            type: "PUT",
                            async: true,
                            url: 'http://iitoverflow.herokuapp.com/api/users/{{curuser}}/following/rel/'+uid,
                            success: function(message){
                                $('#followuser_'+uid).text('Unfollow');
                                console.log('Followed');
                            }
                        });
                }
            });
        }

    function followable(qid){

        $.ajax({
            type: "HEAD",
            async: true,
            url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/'+qid,
            success: function(message){
                $.ajax({
                    type: 'DELETE',
                    async: true,
                    url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/'+qid,
                    success: function(message){
                        $('#followa_'+qid).text('Follow');
                        console.log('UNFOLLOWED');
                    },
                    error: function(message){
                        console.log(message);
                    }
                });
                $('#followa_').text('Follow')
            },
            error: function(message){
                console.log("FOLLOW USER");
                    console.log("FOLLOW USERRRS");
                    $.ajax({
                        type: "PUT",
                        async: true,
                        url: 'http://iitoverflow.herokuapp.com/api/users/{{ curuser }}/following/rel/'+qid,
                        success: function(message){
                            $('#whotoFollow_'+qid).hide('slow');
                            $('#whotoFollow_'+qid).remove();
                            console.log('Followed');
                        }
                    });
            }
        });
    }

$(".showallButton").click(function(){
        var id = $(this).attr("id");
        if($(this).text()=== "Show description"){
            $(this).text("Hide description");
            $("#show_"+id).show('slow');
        }
        else{
            $(this).text("Show description");
            $("#show_"+id).hide('slow');
        }

    });
</script>
</html>