<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/mainprofile.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/static/js/jquery-3.3.1.min.js"></script>

    <script src="../static/js/mainprofile.js"></script>

    <meta name="google-signin-scope" content="">
    <meta name="google-signin-client_id" content="976545483152-3u1fctn90tf0qvjevud1hkfu3jdneog0.apps.googleusercontent.com">
    <meta name="google-signin-client_secret" content="dhayVHWZ-OsnjdQO47qZXhOD">
    <script src="https://apis.google.com/js/platform.js" async defer></script>



</head>

<body>
    <div class="profile-fullpage">
        <div class="profile-section">
            <div class="profile-landing">
                <div class="profile-nav">
                    <div class="profile-search">

                        <button class="profile-searchbutton" type="submit">
                            <span class="glyphicon glyphicon-search">
                        </button>
                        <input class="profile-searchbar" type="text" placeholder="Search..">

                    </div>
                    <div class="profile-pages">

                        <a href="{{ url_for('.question') }}"><span class="glyphicon glyphicon-home"></span>  Home</a>
                        <a href=""><span class="glyphicon glyphicon-user"></span>  Profile</a>
                        <a href="#"><span class="glyphicon glyphicon-bell"></span>  Notifications</a>
                        <a href="" onclick="signOut();"><span class="glyphicon glyphicon-asterisk"></span> Logout</a>

                    </div>
                </div>
                <div class="profile-contentTop">
                    <div class="profile-contentTopCover">
                        <img src="../static/image/background1.jpg" alt="profilecover">
                        <div class="profilepictureContainer">
                            <img id="profPic" src="{{ json_object.picture }}" alt="Profilepic">
                        </div>
                    </div>
                    <div class="profile-contentTopLinks">
                        <div class="profile-contentTopNav">
                            {% block body %}
                            <a type="submit" id="profile-PostButton">{{questions}} Posts</a>
                            <a type="submit" id="profile-FollowersButton">{{followers}} Followers</a>
                            <a type="submit" id="profile-FollowingButton">{{following}} Following</a>
                            <a type="submit" id="profile-FollowedQuestionButton">{{questionsfollowed}} Followed Questions</a>
                            <a type="submit" id="profile-AnsweredQuestionButton">{{answers}} Answered Questions</a> {% endblock %}
                            <a class="editprofilebutton" style="cursor:pointer;">Edit Profile</a>
                        </div>
                        <div class="CenterLeftRightCont">
                            <div class="profile-contentLeft">

                                <h4>Bio info here</h4>
                                <p id="dispn"> {{ json_object['displayname'] }} </p>
                                <a class="profilePostEmail"> {{json_object.email}} </a>

                                <div class="profile-linksInterest">
                                    <h4>{{interests}} Interests</h4>
                                    <br> {% for interest in json_object1.interests %}
                                    <h5> {{interest.name}} </h5>
                                    {% endfor %}

                                </div>

                            </div>



                            <div class="profileCenterDiv">



                                <div class="FollowedQuestionsContainer">
                                    {% for question in followed_questions %}
                                    <div class="profile-contentCenter">
                                        <div class="profilePostPictureCont">
                                            <img class="profilePostPicture" src="../static/image/google.png">

                                        </div>
                                        <div class="profileNameEmail">
                                            <a class="profilePostUsername">{{question.user.displayname}}</a>
                                            <a class="profilePostEmail">{{question.user.email}}</a>
                                            <h3 class="profilePostTitle">Title:{{ question.question }}</h3>
                                        </div>

                                        <br>

                                        <p class="profilePostAnswer">{{ question.questiondesc }}</p>
                                        <div class="profilePostButton">
                                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                                            <a href="#" class="glyphicon glyphicon-comment"></a>
                                            <a href="#" class="glyphicon glyphicon-thumbs-up"></a>
                                            <a href="#" class="glyphicon glyphicon-thumbs-down"></a>
                                            <a href="#" class="profilePostFollowButton">Unfollow</a>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="AnsweredQuestionsContainer">
                                    {% for question in answered_questions %}
                                    <div class="profile-contentCenter">
                                        <div class="profilePostPictureCont">
                                            <img class="profilePostPicture" src="{{ question.user.picture }}">
                                        </div>
                                        <div class="profileNameEmail">
                                            <a class="profilePostUsername">{{question.user.displayname}}</a>
                                            <a class="profilePostEmail">{{question.user.email}}</a>
                                            <h3 class="profilePostTitle">Title:{{ question.question.question }}</h3>
                                        </div>
                                        <p class="profilePostAnswer">{{ question.question.questiondesc }}</p>
                                        <div>{{ question.answer }}</div>
                                        <div class="profilePostButton">
                                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                                            <a href="#" class="glyphicon glyphicon-comment"></a>
                                            <a href="#" class="glyphicon glyphicon-thumbs-up"></a>
                                            <a href="#" class="glyphicon glyphicon-thumbs-down"></a>
                                            <a href="#" class="profilePostFollowButton">Unfollow</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>



                                {% for i in json_object.questions %}

                                <div class="profile-contentCenter">
                                    <div class="profilePostPictureCont">
                                        <img class="profilePostPicture" src="{{ json_object.picture }}">

                                    </div>
                                    <div class="profileNameEmail">
                                        <a class="profilePostUsername">{{json_object.displayname}}</a>
                                        <a class="profilePostEmail">{{json_object.email}}</a>
                                        <h3 class="profilePostTitle">Title:{{i.question}}</h3>
                                    </div>

                                    <br>

                                    <p class="profilePostAnswer">{{i.questiondesc}}</p>
                                    <div class="profilePostButton">
                                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                                        <a href="#" class="glyphicon glyphicon-comment"></a>
                                        <a href="#" class="glyphicon glyphicon-thumbs-up"></a>
                                        <a href="#" class="glyphicon glyphicon-thumbs-down"></a>
                                        <a href="#" class="profilePostFollowButton">Follow</a>
                                    </div>

                                </div>
                                {%endfor%}
                            </div>


                            <div>
                                <a href=" "> </a>
                            </div>
                            <div class="FollowersContainer">
                                {% for follower in json_object1.followers %}
                                <div class="FollowersRow">

                                    <a href="{{ url_for('.profile', id = follower.id) }}">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="our-team">
                                                <div class="FollowersPic">
                                                    <img src="{{ follower.picture }}">
                                                    <div class="team-content">
                                                        <h3 class="FollowersTitle">{{ follower.displayname }}</h3>
                                                        <span class="FollowersPost">Web Developer</span>
                                                    </div>
                                                </div>
                                                <ul class="social">
                                                    <li>
                                                        <a href="" class="fa fa-facebook"></a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="fa fa-twitter"></a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="fa fa-google-plus"></a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="fa fa-linkedin"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                {% endfor %}
                            </div>




                            <div class="profile-contentRight">

                                <h4>Who to Follow</h4>

                            </div>


                            <div class="FollowingContainer">
                                {% for g in json_object1.following %}
                                <div class="FollowersRow">

                                    <a href="{{ url_for('.profile', id = g.id) }}">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="our-team">
                                                <div class="FollowersPic">
                                                    <img src="{{ g.picture }}">
                                                    <div class="team-content">
                                                        <h3 class="FollowersTitle">{{ g.displayname }}</h3>
                                                        <span class="FollowersPost">Web Developer</span>
                                                    </div>
                                                </div>
                                                <ul class="social">
                                                    <li>
                                                        <a href="" class="fa fa-facebook"></a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="fa fa-twitter"></a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="fa fa-google-plus"></a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="fa fa-linkedin"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    </div>


    </div>
    </div>


    </div>

    </div>
    </div>

    </div>

    </div>

    <div id="modalProf" class="modal">
        <div class="modal_close close"></div>
        <div class="modal_main">
            <img src="/static/images/ic.png" class="close" style="height: 20px; width: 20px; margin-top:13px;left:96%;position:fixed;">
            <form class="form form-vertical" action="http://iitoverflow.herokuapp.com/api/users/4/updatePofile" method="post" enctype="multipart/form-data">


                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="avatar-1" name="file" type="file" required>
                    </div>
                </div>



                <hr>
                <input type="text" id="dispName" value="{{ json_object['displayname'] }}" placeholder="Displayname">




                <br>
                <button type="submit" id="submitProfile" tyle="margin-left: 40%" class="submitEditbutton">Submit</button>




            </form>

        </div>
    </div>
    <script src="../static/js/app2.js"></script>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $(".profile-contentCenter").show('slow');
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
    })
    $("#profile-PostButton").click(function() {
        $(".profile-contentCenter").show('slow');
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").show('slow');
        $(".profile-contentLeft").show('slow');
        $(".profileCenterDiv").show('slow');
    })
    $("#profile-FollowersButton").click(function() {
        $(".profile-contentCenter").hide();
        $(".FollowersContainer").show('slow');
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").hide();
        $(".profile-contentLeft").hide();
        $(".profileCenterDiv").hide();
    })
    $("#profile-FollowingButton").click(function() {
        $(".profile-contentCenter").hide();
        $(".FollowersContainer").hide();
        $(".FollowingContainer").show('slow');
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").hide();
        $(".profile-contentLeft").hide();
        $(".profileCenterDiv").hide();
    })
    $("#profile-FollowedQuestionButton").click(function() {
        $(".profile-contentCenter").show();
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").show('slow');
        $(".AnsweredQuestionsContainer").hide();
        $(".profile-contentRight").show('slow');
        $(".profile-contentLeft").show('slow');
        $(".profileCenterDiv").show('slow');
    })
    $("#profile-AnsweredQuestionButton").click(function() {
        $(".profile-contentCenter").show('slow');
        $(".FollowersContainer").hide();
        $(".FollowingContainer").hide();
        $(".FollowedQuestionsContainer").hide();
        $(".AnsweredQuestionsContainer").show('slow');
        $(".profile-contentRight").show('slow');
        $(".profile-contentLeft").show('slow');
        $(".profileCenterDiv").show('slow');
    })
    $(document).ready(function() {
        $(".editprofilebutton").click(function() {
            $(".modal").fadeIn();
            $(".modal_main").show();
        });
    });
    $(document).ready(function() {
        $(".close").click(function() {
            $(".modal").fadeOut();
            $(".modal_main").fadeOut();
        });
    });
    $("#submitProfile").on("click", function(e) {
        e.preventDefault();
        // formdata = new FormData(); 
        var formdata = new FormData();
        //var index = 0;
        //var dispn = document.getElementById('dispn');   
        var file = $('#avatar-1').prop('files');
        console.log(file);
        var name = $("#dispName").val();
        var user = {
            "displayname": name
        };
        console.log(JSON.stringify(user));
        $.ajax({
            url: "http://iitoverflow.herokuapp.com/api/users/1",
            type: "PATCH",
            data: JSON.stringify(user),
            dataType: "JSON",
            contentType: 'application/json',
            success: function(data2) {
                console.log("profile ", data2);
                $("#dispn").text(data2.displayname);
                if (file.length > 0)
                    if (formdata) {
                        formdata.append("file", file[0]);
                        console.log(formdata);
                        $.ajax({
                            url: "http://iitoverflow.herokuapp.com/api/users/4/updateProfile",
                            type: "POST",
                            data: formdata,
                            processData: false,
                            contentType: false,
                            success: function(data) {
                                console.log("profile ", data.picture);
                                console.log("profile ", data.picture);
                                $("#profPic").attr("src", data.picture);
                                $("#modalProf").hide();
                            },
                            error: function(err) {
                                console.log("profile error :", err);
                            }
                        });
                    }
                $("#modalProf").hide();
            },
            error: function(err) {
                console.log("profile error :", err);
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
        $(".call_modal").click(function() {
            $(".modal").fadeIn();
            $(".modal_main").show();
        });
    });
    $(document).ready(function() {
        $(".close").click(function() {
            $(".modal").fadeOut();
            $(".modal_main").fadeOut();
        });
    });
</script>

<script>
    $("#avatar-1").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-1',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/static/images/default.png" alt="Your Avatar">',
        layoutTemplates: {
            main2: '{preview} ' + btnCust + ' {remove} {browse}'
        },
        allowedFileExtensions: ["jpg", "png", "gif"]
    });
</script>


</html>