<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/tags1.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/newsfeed.css">

    <title>Tags</title>

</head>

<body>


    <div class="tags-nav">
        <input id="autocomplete" class="searchbar" type="text" placeholder="Search..">
        <button class="searchbutton" type="submit"><i>Go!</i></button>
        <div class="tags-pages">

            <a href="newsfeed">Home</a>
            <a href="profile">Profile</a>
            <a href="#">Notifications</a>
            <a href="landing">Logout</a>
        </div>
    </div>
    <div class="specificTagQuestions">



        <!-- ANSWER -->


        <div id="newsfeedParent">

            {% for i in questions|reverse %}


            <div id={{ "newqedit_{0}".format(i.id)}} style="display: block;" class="newdiv">

                <button class="duplicatebutton btn btn-danger" id={{ "duplicate_{0}".format(i.id)}} style="display: none;">Mark as Duplicate</button>

                <div class="titlepost">

                    <div class="titlepostpicture"><img src="{{ i.user.picture }}"></div>
                    <h4 class="titlepostname">{{ i.user.displayname }}</h4>

                    <div class=" editanddeleteButtonCont">
                        <i onclick="showhide('{{i.id}}')" class="fa fa-edit Newsfeed-editButton" title="Edit"></i>
                        <i onclick="showhide('{{i.id}}')" class="fas fa-trash-alt qheart" title="Delete"></i>
                        <i onclick="showhide1('{{i.id}}')" class="fas fa-copy duplicate" title="Mark As Duplicate"></i>

                    </div>

                    <h5 class="titlepostTitle"><a style="outline: none;">Title:</a> {{i.question|safe}}</h5>




                </div>

                <div style="padding: 10px; border-bottom: 1px solid #D1D1D1; ">
                    <div class="descriptionpost">Description: {{i.questiondesc|safe}}
                        <div></div>
                    </div>
                    <div class="categorypost">Category: {{i.category.name}}
                        <div></div>
                    </div>
                    <div class="tagspost">Tags: {% for tag in i.tags %} {{tag.name}} {% endfor %}

                        <div></div>
                    </div>
                    <div class="newpostbuttons"><button id="{{ i.id }}" name="{{ i.userId }}" class="follow followbutton">
                                    <span class="msg-follow">Follow</span>
                                    <span class="msg-following">Following</span>
                                    <span class="msg-unfollow">Unfollow</span>
                                  </button><button class="answerbutton" id="{{i.id}}">Answer</button><button onclick="upvote({{ i.id }})" title="Upvote" style="color: #1abc9c; width: 23%;display: inline-block;" class="votebutton glyphicon glyphicon-thumbs-up">{{ i.upvotesCount-i.downvotesCount }}</button>
                        <button onclick="downvote({{ i.id }})" title="Downvote" style="color: #e74c3c; width: 23%; display: inline-block;" class="votebutton glyphicon glyphicon-thumbs-down"></button>
                    </div>

                </div>


                <div style="background-color: #F2F3F5; text-align: left;" id={{ "toReloadAnswer_{0}".format(i.id)}}>


                    {% for answer in i.answers|reverse %}

                    <div class="comments-container">
                        <hr>

                        <ul id="comments-list" class="comments-list" style="margin: 0;">
                            <li>
                                <div class="comment-main-level">
                                    <div class="picture2" style="background-color: black;"></div>
                                    <div class="comment-box" style="background-color: white; width: 80%;  border-radius: 30px; padding: 5px 10px 5px 10px; margin-left: 12%;">

                                        <div class="comment-head">

                                            <span>Posted on: {{ answer.createdAt }}</span>
                                            <i id={{answer.id}} class="fa fa-reply edit"></i>
                                            <i id={{answer.id}} class="fa fa-heart heart"></i>
                                        </div>
                                        <div class="comment-content">
                                            {{ answer.answer|safe }}
                                        </div>
                                    </div>
                                </div>

                            </li>


                        </ul>





                        <ul class="comments-list reply-list">


                            <!-- COMMENT -->

                            {% for comment in answer.comments|reverse %}
                            <hr>
                            <li>



                                <div class="comment-avatar"></div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name by-author">
                                            <a href="http://creaticode.com/blog"></a>
                                        </h6>
                                        <span>Posted: {{comment.createdAt}} </span>
                                        <i class="fa fa-reply"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="comment-content">
                                        {{comment.comment}}
                                    </div>
                                </div>



                            </li>

                            {% endfor %}


                        </ul>



                        <div class="newpostinput" id={{answer.id}}>
                            <input type='text' class="commenttextarea" id={{ "comment_{0}".format(answer.id) }} placeholder="Write a Comment">
                            <div>
                            </div>
                        </div>

                        <!-- <h2>   {{answer.answer}} </h2> -->


                    </div>

                    {% endfor %}

                    <!-- COMMENT -->


                </div>


                <!-- TOEDIT -->


                <div class="answerdiv">


                    <textarea class="answertextarea" id={{ "answer_{0}".format(i.id) }} placeholder="Write an Answer"> </textarea>





                    <input class="submitanswerbutton" id={{i.id}} value=submit type="button">





                </div>


            </div>








            <!-- EDIT MODE -->

            <div style="display: none;" id={{ "qedit_{0}".format(i.id)}} class="newdivEdit">

                <div class="form2container">
                    <form id="form2">

                        <i onclick="showhide('{{i.id}}')" class="fa fa-reply"></i>
                        <i id={{i.id}} class="fa fa-heart qheart"></i>




                        <h5>Title</h5>
                        <input class="editQuestionTitle" type="text" id="titleedit" value="{{i.question}}">
                        <h5>Description</h5>
                        <textarea style="border: 1px solid black; height:200px; font-size:14pt;" rows="9" type="text" class="editTitleDescription" id="descedit">{{i.questiondesc}}</textarea>


                        <h5>Tags</h5>
                        <input id="tagsIDedit" type="text" name="tagsarea" value=" {% for tag in i.tags %} {{tag.name}} {% endfor %}" class="tagsarea" />



                        <div class="newsfeedPopUpButton-Cont">

                            <a id={{i.id}} class="submitbutton5" type="submit">Save</a>
                            <a onclick="showhide({{i.id}})">Cancel</a>


                            <!--                    <a id={{i.id}} class="submitbutton5" type="submit" >Save</a>
                                 <a class="submitbutton5" onclick="showhide({{i.id}})" >Cancel</a> -->
                        </div>
                    </form>
                </div>



            </div>

            {% endfor %}


            <!-- ANSWER -->

        </div>




    </div>














    <!-- The Modal -->
    <div id="myModal" class="modal">


        <!-- Modal content -->
        <div class="modal-content" style="width: 40%; text-align: center;">
            <span class="close" style="display: none;">&times;</span>
            <input type="textarea" placeholder="Enter comment here" style="border-radius: 10px; outline: none; height: 30px; margin-bottom: 5px;">
            <a type="submit" style=" margin-left: 70%; border: 1px solid black; border-radius: 10px; padding:5px 10px 5px 10px; margin-top: 10px; width: 30%; display: inline-block;">Submit</a>
        </div>

    </div>
    <!-- The Modal -->
    <div id="myModal1" class="modal">


        <!-- Modal content -->
        <div class="modal-content1" style="width: 40%; text-align: center;">
            <span class="close" style="display: none;">&times;</span>
            <input type="textarea" placeholder="Enter answer here" style="border-radius: 10px; outline: none; height: 30px; margin-bottom: 5px;">
            <a type="submit" style=" margin-left: 70%; border: 1px solid black; border-radius: 10px; padding:5px 10px 5px 10px; margin-top: 10px; width: 30%; display: inline-block;">Submit</a>
        </div>

    </div>

</body>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');
    var modal1 = document.getElementById('myModal1');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var btn1 = document.getElementById("myBtn1");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";


    }
    btn1.onclick = function() {

        modal1.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
        modal1.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";



        } else {
            modal1.style.display = "none";
        }
    }
</script>



<!-- PHILLIP -->

<script>
</script>

<!-- PHILLIP -->