<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link rel="icon" type="image/png" href="../static/image/favicon.ico" />
    <link rel="stylesheet" href="../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/tags.css" rel="stylesheet">

    <meta name="google-signin-scope" content="">
    <meta name="google-signin-client_id" content="976545483152-3u1fctn90tf0qvjevud1hkfu3jdneog0.apps.googleusercontent.com">
    <meta name="google-signin-client_secret" content="dhayVHWZ-OsnjdQO47qZXhOD">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/newsfeed.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <title>Tags</title>

</head>

<body>
    <div class="newsfeed-nav">
        <div class="newsfeed-search">

             <form action="/search" method="POST">
                <button id="autocom" class="newsfeed-searchbutton" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                        </button>
                <input id="autocomplete" name="searchbar" class="newsfeed-searchbar" type="text" placeholder="Search..">
                </form>

        </div>
        <div class="newsfeed-pages">

            <a href="{{ url_for('.question') }}" class="homeButton"><span class="glyphicon glyphicon-home"></span>  Home</a>
            <a href="{{ url_for('.profile', id = curuser) }}"><span class="glyphicon glyphicon-user"></span> Profile</a>
            <a href="tags"><span class="glyphicon glyphicon-tags"></span> Tags</a>
            <a class="Notificationbutton" style="color: white;"><span class="glyphicon glyphicon-bell"></span> Notifications</a>
            <a href="" onclick="signOut();return false;"><span class="glyphicon glyphicon-asterisk"></span> Logout</a>

        </div>
    </div>

        <div class="tags-alltagscontainer">
            {% for c in category %}
            <div class="categorytagsCont">
                <a type="submit" class="categoryname">{{ c.name }}</a> {% for t in c.tags %}
                <a type="submit" href="/tagsQ/{{t.id}}" class="tagsname">{{ t.name }}</a> {% endfor %}
            </div>
            {% endfor %}

        </div>
        <div>

        </div>


    </div>


</body>