<div class="FollowersContainer">
    <h1>Here Shows all Followers of user</h1>
    <div class="FollowersRow">
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="FollowersPic">
                    <img src="../static/image/phillip.png">

                    <div class="team-content">
                        <h3 class="FollowersTitle">Espina</h3>
                        <span class="FollowersPost">Web Developer</span>
                    </div>
                    <ul class="social">

                        <li>
                            <a href="" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="" class="fa fa-google-plus"></a>
                        </li>
                        <li>
                            <a href="" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    </div>